<template>
  <v-layout column align-center :style="bgGradientStyle">
    <v-avatar v-if="userMeta && userMeta.avatar" size="72" class="my-3">
      <img :src="croppedImage">
    </v-avatar>

    <v-card-text class="headline text-md-center py-0 white--text">
      {{ userMeta.firstName }} {{ userMeta.surname }}
    </v-card-text>

    <v-card-text class="text-md-center pt-1 pb-4 white--text">
      {{ userMeta.bio }}
    </v-card-text>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      bgGradientStyle: {
        backgroundColor: '#42AB3D',
        background: 'linear-gradient(to right, #8bc0dd, #42AB3D)'
      }
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'userMeta'
    ]),
    croppedImage () {
      const baseUrl = 'https://res.cloudinary.com/gianluca-macaluso/image/upload/'
      const transformation = 'w_400,h_400,c_crop,g_face,r_max/w_200/'

      return baseUrl + transformation + this.userMeta.avatar.public_id
    }
  }
}
</script>
