<template>
  <div :style="dimensions" class="cloudinary-video-item" @mouseenter="showPreview()" @mouseleave="hidePreview()">
    <div class="cloudinary-video-item-image">
      <img :src="poster" :width="width" :height="height" alt="Video Preview">
    </div>
    <div class="cloudinary-video-item-active">
      <video ref="previewVideo" :width="width" :height="height" autoplay loop />
    </div>
    <div class="cloudinary-video-item-video">
      <video ref="fullVideo" :width="width" :height="height" autoplay controls />
    </div>
    <svg
      id="play-icon"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      height="50"
      width="50"
      viewBox="0 0 1200 1200"
      @click="play()"
    >
      <path
        id="path16995"
        d="M 600,1200 C 268.65,1200 0,931.35 0,600 0,268.65 268.65,0 600,0 c 331.35,0 600,268.65 600,600 0,331.35 -268.65,600 -600,600 z M 450,300.45 450,899.55 900,600 450,300.45 z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    account: { type: String, required: true, default: 'maccaluso' },
    alias: { type: String, required: true },
    // These can be strings as they come in as attributes
    width: { type: String, default: '400' },
    height: { type: String, default: '300' }
  },
  computed: {
    dimensions () {
      return `width:${this.width}px; height:${this.height}px;`
    },
    poster () {
      return `http://res.cloudinary.com/${this.account}/video/upload/${this.alias}.jpg`
    },
    preview () {
      return `http://res.cloudinary.com/${this.account}/video/upload/so_0,du_2/l_video:${this.alias},fl_splice,so_12/du_2/fl_layer_apply/l_video:${this.alias},fl_splice,so_24/du_2/fl_layer_apply/l_video:${this.alias},fl_splice,so_36/du_2/fl_layer_apply/l_video:${this.alias},fl_splice,so_48/du_2/fl_layer_apply/l_video:${this.alias},fl_splice,so_80/du_2/fl_layer_apply/${this.alias}.mp4`
    },
    fullVideo () {
      return `http://res.cloudinary.com/${this.account}/video/upload/${this.alias}.mp4`
    }
  },
  methods: {
    play () {
    // Hide the preview
      this.hidePreview()
      // Set the state to "play" to show full video element
      this.$el.setAttribute('state', 'playing')
      // Set the full video element src
      this.$refs.fullVideo.src = this.fullVideo
    },
    showPreview () {
    // If the full video is loaded and playing, ignore this event
      if (this.$el.getAttribute('state') === 'playing') {
        return
      }
      // Update state for CSS / component's child element visibility
      this.$el.setAttribute('state', 'preview')
      // Set the preview video source
      this.$refs.previewVideo.src = this.preview
    },
    hidePreview () {
    // If the full video is loaded and playing, ignore this event
      if (this.$el.getAttribute('state') === 'playing') {
        return
      }
      // Update state for CSS / component's child element visibility
      this.$el.setAttribute('state', '')
      // Stop the video
      this.$refs.previewVideo.pause()
    }
  }
}
</script>

<style lang="scss">
  .cloudinary-video-item {
    position: relative;
  }

  .cloudinary-video-item > div {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cloudinary-video-item img {
    display: block;
  }

  .cloudinary-video-item svg {
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
    opacity: 0.6;
  }
  .cloudinary-video-item svg:hover {
    opacity: 0.9;
  }

  /* Default / image only state */
  .cloudinary-video-item .cloudinary-video-item-active,
  .cloudinary-video-item .cloudinary-video-item-video {
    display: none;
  }

  /* Preview state */
  .cloudinary-video-item[state=preview] .cloudinary-video-item-active {
    display: block;
  }
  .cloudinary-video-item[state=preview] .cloudinary-video-item-image {
    display: none;
  }

  /* Playing state */
  .cloudinary-video-item[state=playing] .cloudinary-video-item-video {
    display: block;
  }
  .cloudinary-video-item[state=playing] .cloudinary-video-item-image,
  .cloudinary-video-item[state=playing] .cloudinary-video-item-active,
  .cloudinary-video-item[state=playing] svg {
    display: none;
  }
</style>
