<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-sheet color="white">
      <v-alert
        prominent
        border="top"
        colored-border
        type="error"
        icon="mdi-alert-circle"
        class="mb-0"
      >
        <v-row align="center" class="ml-1">
          <v-col>
            <span>{{ $t('app.shared.deleteSure') }}</span>
          </v-col>
        </v-row>

        <v-row align="center" class="ml-1">
          <v-col>
            <v-btn color="error" @click="$emit('confirmClose',true)">
              {{ $t('shared.confirm') }}
            </v-btn>
          </v-col>
          <v-col class="text-right">
            <v-btn color="default" @click="$emit('confirmClose',false)">
              {{ $t('shared.cancel') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-sheet>
  </v-dialog>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    }
  }
}
</script>
