<template>
  <div id="svgFlagContainer">
    <img v-if="locale === 'English'" src="/flags/en_EN.svg" width="20">
    <img v-if="locale === 'Deutsch'" src="/flags/de_DE.svg" width="20">
    <img v-if="locale === 'Español'" src="/flags/es_ES.svg" width="20">
    <img v-if="locale === 'Italiano'" src="/flags/it_IT.svg" width="20">
    <img v-if="locale === 'Nederlands'" src="/flags/nl_BE.svg" width="20">
    <img v-if="locale === 'Română'" src="/flags/ro_RO.svg" width="20">
  </div>
</template>

<script>
export default {
  props: { locale: { type: String, default: 'English' } }
}
</script>
