<template>
  <v-row v-if="user && !$nuxt.$route.name.includes('editor')">
    <v-col v-if="!user.emailVerified" cols="12" sm="12" md="12">
      <v-alert
        class="mb-0"
        type="warning"
        border="left"
        colored-border
        elevation="2"
        dense
      >
        <v-row align="center">
          <v-col class="grow">
            {{ $t('components.flashes.verifyEmail') }}
          </v-col>
          <v-col class="shrink">
            <v-btn small color="warning" @click="sendVerificationEmail">
              {{ $t('components.flashes.verifyEmailBtnLabel') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-col>

    <v-col v-if="pendingInvitations > 0" cols="12" sm="12" md="12">
      <v-alert
        class="mb-0"
        type="warning"
        border="left"
        colored-border
        elevation="2"
        dense
      >
        <v-row align="center">
          <v-col class="grow">
            {{ $t('components.flashes.pendingInvitations') }}
          </v-col>
          <v-col class="shrink">
            <!-- <v-btn small color="warning" @click="sendVerificationEmail">
              {{ $t('components.flashes.verifyEmailBtnLabel') }}
            </v-btn> -->
          </v-col>
        </v-row>
      </v-alert>
    </v-col>

    <v-col v-if="syncRequests" cols="12" sm="12" md="12">
      <v-alert
        class="mb-0"
        type="warning"
        border="left"
        colored-border
        elevation="2"
        dense
      >
        <v-row align="center">
          <v-col class="grow">
            {{ $t('components.flashes.pendingSync') }}
          </v-col>
          <v-col class="shrink">
            <v-btn small color="warning" :to="`/app/book-shelf`">
              {{ $t('components.flashes.goBookShelf') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('modules/user', [
      'user'
    ]),
    ...mapGetters('modules/groups', [
      'pendingInvitations',
      'syncRequests'
    ])
  },
  methods: {
    async sendVerificationEmail () {
      try {
        await this.$store.dispatch('modules/user/sendVerificationEmail')

        this.$store.commit('modules/user/SET_EMAIL_VERIFIED')
        this.$toast.global.sbc_success({ message: this.$t('components.flashes.verifyEmailSuccess') })
      } catch (error) {
        this.$toast.global.sbc_error(error)
      }
    }
  }
}
</script>
