<template>
  <section>
    <div>
      Protected page --- only authenticated users can see this
    </div>
    <div v-if="user">
      <div>
        User ID: {{ uid }}
      </div>
      <h3>Current User: {{ user.email }}</h3>
      <h5 v-if="userMeta">
        {{ userMeta.bio }}
      </h5>
      <!-- <img v-if="user.userMeta.avatar" :src="user.userMeta.avatar.secure_url" alt=""> -->
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'protected',
  computed: {
    ...mapGetters('modules/user', [
      'uid',
      'user',
      'userMeta'
    ])
  },
  mounted () {
    this.$nextTick(() => {
      this.$store.dispatch('modules/user/setUSERMETA', this.uid)
    })
  }
}
</script>
