<template>
  <div v-if="group && groupMeta">
    <v-card class="elevation-1 mb-6">
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>{{ group.group.name }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col cols="2">
            <v-avatar v-if="groupMeta.owner.data.avatar" size="80" color="grey">
              <v-img
                :src="groupMeta.owner.data.avatar.secure_url"
                lazy-src="https://picsum.photos/id/11/10/6"
                aspect-ratio="1"
                class="grey lighten-2"
              />
            </v-avatar>

            <v-avatar v-else size="80" color="grey">
              <v-icon size="60" dark>
                mdi-face
              </v-icon>
            </v-avatar>
          </v-col>
          <v-col cols="6">
            {{ $t('group.admin') }}:<br>
            <span class="headline font-weight-bold text-capitalize">{{ groupMeta.owner.id === user.uid ? 'YOU' : groupMeta.owner.data.firstName }}</span>
          </v-col>
        </v-row>
        <v-divider />
        <v-row>
          <v-col cols="12">
            <span class="text-uppercase">{{ $t('group.members') }}</span>
          </v-col>
          <v-col v-for="member in groupMeta.members" :key="member.id" cols="2">
            <v-avatar v-if="member.data.avatar" size="62" color="grey" style="overflow: visible">
              <v-img
                :src="member.data.avatar.secure_url"
                lazy-src="https://picsum.photos/id/11/10/6"
                aspect-ratio="1"
                class="grey lighten-2"
              />
              <v-btn
                v-if="groupMeta.owner.id === user.uid"
                absolute
                x-small
                dark
                fab
                top
                elevation="10"
                color="red"
                style="right: -10px"
                @click="openDeleteModalUser(member.id)"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-avatar>

            <v-avatar v-else size="62" color="grey" style="overflow: visible">
              <v-icon size="50" dark>
                mdi-face
              </v-icon>
              <v-btn
                v-if="groupMeta.owner.id === user.uid"
                absolute
                x-small
                dark
                fab
                top
                elevation="10"
                color="red"
                style="right: -10px"
                @click="openDeleteModalUser(member.id)"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-avatar>
            <br>
            <span class="subtitle-1 text-capitalize">{{ member.data.firstName }}</span>
          </v-col>
          <v-col v-if="!groupMeta.members.length" cols="12">
            {{ $t('group.noMembers') }}
          </v-col>
        </v-row>
        <v-divider />
        <v-row v-if="groupMeta.owner.id === user.uid">
          <v-col cols="12">
            <span class="text-uppercase">{{ $t('group.invited') }}</span>
            <v-btn absolute right @click="invitationDialog = true">
              <v-icon left>
                mdi-account-plus
              </v-icon>{{ $t('group.addMember') }}
            </v-btn>
          </v-col>
          <v-col cols="12">
            <v-row v-if="groupMeta.invited.length">
              <v-col v-for="member in groupMeta.invited" :key="member.id" cols="2">
                <v-avatar v-if="member.data.avatar" size="62" color="grey" style="overflow: visible">
                  <v-img
                    :src="member.data.avatar.secure_url"
                    lazy-src="https://picsum.photos/id/11/10/6"
                    aspect-ratio="1"
                    class="grey lighten-2"
                  />
                  <v-btn
                    absolute
                    x-small
                    dark
                    fab
                    top
                    elevation="10"
                    color="red"
                    style="right: -10px"
                    @click="openDeleteModalUser(member.id)"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-avatar>

                <v-avatar v-else size="62" color="grey" style="overflow: visible">
                  <v-icon size="50" dark>
                    mdi-face
                  </v-icon>
                  <v-btn
                    absolute
                    x-small
                    dark
                    fab
                    top
                    elevation="10"
                    color="red"
                    style="right: -10px"
                    @click="openDeleteModalUser(member.id)"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-avatar>
              </v-col>
            </v-row>
            <span v-else>{{ $t('group.noInvitations') }}</span>
          </v-col>
        </v-row>
        <v-divider />
        <v-row>
          <v-col cols="12">
            <span class="text-uppercase">{{ $t('components.userSidebarWidget.adminNavItems.books') }}</span>
            <v-btn v-if="user.uid === group.group.owner" absolute right @click="addBookDialog = true">
              <v-icon left>
                mdi-account-plus
              </v-icon><span class="text-uppercase">{{ $t('pages.bookShelf.addBook') }}</span>
            </v-btn>
          </v-col>
          <v-col v-for="book in groupBooks" :key="book.id" cols="3">
            <book-card :from-group-page="true" :is-owner="user.uid === group.group.owner" :book="book" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <v-card v-if="group && groupMeta.owner.id === user.uid" class="elevation-1 mb-6">
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>{{ $t('group.manageRequests') }}</v-toolbar-title>
      </v-toolbar>
      <requests-list v-if="groupBooks" :group="group" :group-books="groupBooks" />
    </v-card>

    <v-dialog v-model="dialog" scrollable persistent max-width="400">
      <v-card>
        <v-card-text class="pt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="deleteUser">
            Confirm
          </v-btn>
          <v-btn absolute right small text @click="dialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="invitationDialog" scrollable persistent max-width="600">
      <v-card class="mx-auto">
        <v-card-title class="title font-weight-regular">
          <span>{{ $t('components.newGroupModal.inviteCollaborators') }}</span>
        </v-card-title>
        <v-card-text>
          <v-combobox
            v-model="usersInvited"
            :items="items"
            append-icon=""
            dense
            chips
            :label="$t('shared.formLabels.groupInvited')"
            multiple
          />
          <span class="caption grey--text text--darken-1">
            {{ $t('components.newGroupModal.groupInvitedCaption') }}
          </span>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" :disabled="!usersInvited.length" @click="addGroupInvitations">
            {{ $t('shared.confirm') }}
          </v-btn>
          <v-btn absolute right small text @click="invitationDialog = false">
            {{ $t('shared.cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addBookDialog" scrollable persistent max-width="600">
      <v-card class="mx-auto">
        <v-card-title class="title font-weight-regular">
          <v-avatar color="primary lighten-2" class="subheading white--text mr-3" size="24" />
          <span>{{ $t('group.addBookToGroup') }}</span>
        </v-card-title>
        <v-card-text>
          <v-autocomplete
            v-model="newGroupSharedBooks"
            :items="userBooks"
            item-text="data.title"
            item-value="id"
            :label="$t('shared.formLabels.groupSharedBooks')"
            multiple
            chips
          />
        </v-card-text>
        <v-card-actions class="py-5">
          <v-btn small color="primary" outlined @click="addBookToGroup">
            <span class="d-none d-sm-flex text-uppercase">{{ $t('pages.bookShelf.addBooks') }}</span>
          </v-btn>
          <span class="d-inline-block mr-3 ml-3"> {{ $t('shared.or') }} </span>
          <v-btn small color="primary" outlined @click="newBookModalOpen = true">
            <span class="d-none d-sm-flex text-uppercase">{{ $t('pages.bookShelf.createNewBook') }}</span>
          </v-btn>

          <v-spacer />

          <v-btn small text @click="addBookDialog = false">
            {{ $t('shared.cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <new-book-modal :open="newBookModalOpen" @onModalClose="newBookModalOpen = false;addBookDialog = false" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import BookCard from '~/components/app/BookCard'
import RequestsList from '~/components/profile/groups-tab/RequestsList'
import NewBookModal from '~/components/app/NewBookModal'

export default {
  components: { BookCard, RequestsList, NewBookModal },
  data () {
    return {
      dialog: false,
      userToDelete: null,
      invitationDialog: false,
      addBookDialog: false,
      newBookModalOpen: false,
      usersInvited: [],
      items: [],
      newGroupSharedBooks: []
    }
  },
  layout: 'protected',
  computed: {
    ...mapGetters('modules/groups', [
      'group',
      'groupMeta',
      'groupBooks'
    ]),
    ...mapGetters('modules/user', [
      'user',
      'users'
    ]),
    ...mapGetters('modules/books', [
      'userBooks',
      'lastNewBook'
    ])
  },
  watch: {
    lastNewBook: {
      handler: 'addNewBookToGroup',
      deep: true
    }
  },
  created () {
    this.$store.dispatch('modules/groups/getGroupMeta', { id: this.$route.params.id, uid: this.user.uid })
    this.$store.dispatch('modules/user/getUsers')
  },
  methods: {
    openDeleteModalUser (id) {
      this.dialog = true
      this.userToDelete = id
    },
    async deleteUser () {
      const item = this.group
      const uid = this.userToDelete
      try {
        await this.$store.dispatch('modules/groups/deleteUserGroup', { item, uid })
        this.dialog = false
        this.$toast.global.sbc_success({ message: this.$t('group.userDeleted') })
      } catch (error) {
        console.log(error)
        this.dialog = false
        this.$toast.global.sbc_error(error)
      }
    },
    async addGroupInvitations () {
      const groupId = this.group.id
      const groupName = this.group.group.name
      const existentUsers = []
      this.usersInvited.forEach((user) => {
        const index = this.users.findIndex(x => x.data.email === user)
        if (index !== -1) {
          existentUsers.push(this.users[index].id)
        } else {
          this.$toast.global.sbc_error({ message: this.$t('group.userNotFound', { user }) })
        }
      })
      if (existentUsers.length) {
        try {
          await this.$store.dispatch('modules/groups/addInvitedUsers', { id: groupId, users: existentUsers })
          this.sendInAppNotification({ groupName, users: existentUsers })
          this.$toast.global.sbc_success(this.$t('group.usersInvited'))
          this.invitationDialog = false
        } catch (error) {
          this.$toast.global.sbc_error(error)
          this.invitationDialog = false
        }
      }
    },
    sendInAppNotification (attr) {
      attr.users.forEach((user) => {
        this.$store.dispatch('modules/user/sendInAppNotification', {
          user,
          type: 'groupInvitationReceived',
          url: '/profile/groups',
          text: attr.groupName
        })
      })
    },
    async addBookToGroup () {
      const groupId = this.group.id
      try {
        await this.$store.dispatch('modules/groups/addBooks', { id: groupId, books: this.newGroupSharedBooks })
      } catch (error) {
        this.$toast.global.sbc_error(error)
        this.addBookDialog = false
      }
    },
    addNewBookToGroup () {
      if (this.lastNewBook) {
        this.newGroupSharedBooks.push(this.lastNewBook)
        this.addBookToGroup()
      }
    }
  }
}
</script>
