<template>
  <div>
    <v-card class="elevation-1 mb-12" :loading="loading">
      <v-toolbar color="primary" dark>
        <v-toolbar-title>{{ $t('app.bookShelf.yourBooks') }}</v-toolbar-title>

        <v-spacer />

        <v-btn
          light
          @click.stop="openModal"
        >
          <v-icon left v-text="'mdi-file-plus'" />
          {{ $t('pages.bookShelf.createNewBook') }}
        </v-btn>
      </v-toolbar>

      <v-container fluid class="py-5 px-7">
        <v-row
          v-if="(userBooks && userBooks.length > 0)"
          :class="{ 'justify-center': $vuetify.breakpoint.xsOnly }"
        >
          <v-col
            v-for="book in userBooks"
            :key="book.id"
            :cols="12"
            :sm="4"
            :md="3"
            :lg="2"
            :style="{ maxWidth: '250px' }"
          >
            <book-card :book="book" @on-open-modal-from-child="openDeleteBookModal(book.id)" />
          </v-col>
        </v-row>

        <v-row v-else>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{ $t('pages.bookShelf.noBooks') }}
              </div>

              <v-list-item-title class="headline mb-1">
                {{ $t('pages.bookShelf.startCreating') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions class="mt-2">
            <v-btn
              class="mb-2 pr-4"
              x-large
              color="primary"
              @click.stop="openModal"
            >
              <v-icon left v-text="'mdi-file-plus'" />
              {{ $t('pages.bookShelf.createNewBook') }}
            </v-btn>
          </v-card-actions>
        </v-row>
      </v-container>
    </v-card>

    <v-card class="elevation-1" :loading="loading">
      <v-toolbar color="primary" dark>
        <v-toolbar-title>{{ $t('pages.bookShelf.sharedBooksTitle') }}</v-toolbar-title>
      </v-toolbar>

      <v-container fluid class="py-5 px-7">
        <v-row
          v-if="(userGroupBooks && userGroupBooks.length > 0)"
          :class="{ 'justify-center': $vuetify.breakpoint.xsOnly }"
        >
          <v-col
            v-for="book in userGroupBooks"
            :key="book.id"
            :cols="12"
            :sm="4"
            :md="3"
            :lg="2"
            :style="{ maxWidth: '250px' }"
          >
            <book-card :from-group-page="true" :is-owner="false" :book="book" />
          </v-col>
        </v-row>

        <v-row v-else>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{ $t('pages.bookShelf.noSharedBooks') }}
              </div>
              <v-list-item-title class="headline mb-1">
                {{ $t('pages.bookShelf.sharedBooks') }}
              </v-list-item-title>
              <v-list-item-subtitle>{{ $t('pages.bookShelf.learnMore') }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>
      </v-container>
    </v-card>

    <new-book-modal :open="newBookModalOpen" @onModalClose="closeModal" />
    <delete-book-modal :open="deleteBookModalOpen" :book-i-d="bookToDeleteID" @onModalClose="closeDeleteBookModal" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import BookCard from '~/components/app/BookCard'
import NewBookModal from '~/components/app/NewBookModal'
import DeleteBookModal from '~/components/app/DeleteBookModal'

export default {
  components: { BookCard, NewBookModal, DeleteBookModal },
  layout: 'protected',
  data () {
    return {
      loading: true,
      newBookModalOpen: false,
      deleteBookModalOpen: false,
      bookToDeleteID: '',
      skeletonCards: [0, 1, 2, 3]
    }
  },
  httpHeaders: () => ({
    'X-Frame-Options': 'SAMEORIGIN'
  }),
  computed: {
    ...mapGetters('modules/user', [
      'uid'
    ]),
    ...mapGetters('modules/books', [
      'userBooks',
      'userGroupBooks'
    ])
  },
  mounted () {
    this.$store.dispatch('modules/books/getUserBooks', this.uid)
    this.$store.dispatch('modules/books/getUserGroupBooks', this.uid)
    // console.log(this.$vuetify.breakpoint)
  },
  methods: {
    openModal () {
      this.newBookModalOpen = true
    },
    closeModal () {
      this.newBookModalOpen = false
    },
    openDeleteBookModal (bookID) {
      this.bookToDeleteID = bookID
      this.deleteBookModalOpen = true
    },
    closeDeleteBookModal () {
      this.deleteBookModalOpen = false
    }
  }
}
</script>
