<template>
  <v-row no-gutters>
    <v-col cols="12" sm="12" md="12">
      <!-- <h1>{{ books.length }}</h1> -->
      <v-data-table
        :headers="headers"
        :items="books"
        :items-per-page="10"
        :footer-props="{'items-per-page-options': [10, 100, 200, -1]}"
        show-select
        class="elevation-1"
      >
        <template v-slot:item.action="{ item }">
          <!-- <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="linkItemMeta(item)"
          >
            mdi-link
          </v-icon> -->
          <v-icon
            small
            class="mr-2"
            @click="deleteItem(item.id)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>

      <!-- <h1>{{ books.length }}</h1>
      <template v-for="(book, i) in books">
        <div :key="i" class="line">
          <h3>{{ book.id }} - {{ book.title }}</h3>
          <v-btn @click="deleteBook(book.id)">
            x
          </v-btn>
        </div>
      </template> -->
    </v-col>
    <!-- <v-col cols="12">
      <v-btn @click="batchDelete">
        Click me
      </v-btn>
    </v-col> -->
  </v-row>
</template>

<script>
// import usersJSON from '~/static/Users-DB-backup-03032020.json'
import { mapGetters } from 'vuex'

export default {
  layout: 'admin',
  data: () => ({
    headers: [
      { text: 'ID', value: 'id' },
      { text: 'Title', value: 'title' },
      { text: 'Author', value: 'author' },
      { text: 'Published', value: 'published' },
      { text: 'Format', value: 'format' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    boooks: [
      { id: 1, title: 'Foo' }
    ]
  }),

  computed: {
    ...mapGetters('modules/books', ['books'])
  },
  mounted () {
    this.$store.dispatch('modules/books/getBooks')
  },
  methods: {
    batchDelete () {
      this.$store.dispatch('modules/books/batchDelete')
    },
    checkBooks () {
      let counter = 0
      // let currentContent = null
      // let prevContent = null
      const scale = 0
      const range = 1

      this.books.forEach((book) => {
        if (book.title === 'Educational technology in ELT. Benefits and outcomes') {
          // console.log(counter, book.content)
          if (counter >= (scale * range) && counter < ((scale + 1) * range)) {
            // currentContent = book.content
            // console.log(currentContent === prevContent)
            // prevContent = currentContent
            if (counter > 0) {
              // console.log(counter, book.content.blocks.length)
              this.$store.dispatch('modules/books/deleteBookByID', book.id)
            }
          }

          counter++
        }
      })

      // console.log(counter)
    },
    deleteItem (bookID) {
      this.$store.dispatch('modules/books/deleteBookByID', bookID)
    }
  }
}
</script>

<style lang="scss" scoped>
  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid red;
  }
</style>
