<template>
  <v-row no-gutters>
    <v-col cols="12" sm="12" md="12">
      <v-data-table
        :headers="headers"
        :items="users"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>USERS</v-toolbar-title>
            <v-spacer />
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">
                  New Item
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field v-model="editedItem.IDENTIFICATORE" label="IDENTIFICATORE" />
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.DATA_CREAZIONE" label="DATA_CREAZIONE" />
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.ACCESSO_ESEGUITO" label="ACCESSO_ESEGUITO" />
                      </v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field v-model="editedItem.UID_UTENTE" label="UID_UTENTE" />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />
                  <v-btn color="blue darken-1" text @click="close">
                    Cancel
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save">
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.action="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="linkItemMeta(item)"
          >
            mdi-link
          </v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">
            Reset
          </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
// import usersJSON from '~/static/Users-DB-backup-03032020.json'
import { mapGetters } from 'vuex'

export default {
  layout: 'admin',
  data: () => ({
    dialog: false,
    headers: [
      { text: 'Email', value: 'email' },
      { text: 'Identificatore', value: 'IDENTIFICATORE' },
      { text: 'Data creazione', value: 'DATA_CREAZIONE' },
      { text: 'Accesso eseguito', value: 'ACCESSO_ESEGUITO' },
      { text: 'UID utente', value: 'UID_UTENTE' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    // users: [],
    editedIndex: -1,
    editedItem: {
      IDENTIFICATORE: '',
      DATA_CREAZIONE: 0,
      ACCESSO_ESEGUITO: 0,
      UID_UTENTE: 0
    },
    defaultItem: {
      IDENTIFICATORE: '',
      DATA_CREAZIONE: 0,
      ACCESSO_ESEGUITO: 0,
      UID_UTENTE: 0
    }
  }),

  computed: {
    ...mapGetters('modules/user', ['users']),
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      // this.users = usersJSON
      this.$store.dispatch('modules/user/getUsers')
    },
    editItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.users.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
    },
    async linkItemMeta (item) {
      try {
        await this.$store.dispatch('modules/user/linkUserMeta', {
          userId: item.UID_UTENTE,
          email: item.IDENTIFICATORE
        })

        console.log('done')
      } catch (error) {
        console.log(error)
      }
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], this.editedItem)
      } else {
        this.users.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>
