<template>
  <div>
    <v-card>
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>{{ $t('components.groupList.heading') }}</v-toolbar-title>

        <v-spacer />

        <v-btn light @click="createGroup">
          {{ $t('components.groupList.newGroup') }}
        </v-btn>
      </v-toolbar>

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="userGroups"
          :items-per-page="10"
          :loading="!userGroupsLoaded"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item.action="{ item }">
            <v-btn :to="`group/${ item.id }`">
              <v-icon v-if="isGroupAdmin(item)" left>
                mdi-pencil
              </v-icon>
              <v-icon v-else left>
                mdi-eye
              </v-icon>
              {{ isGroupAdmin(item) ? $t('group.editGroup') : $t('group.viewGroup') }}
            </v-btn>

            <v-btn v-if="isGroupAdmin(item)" class="ml-2" color="error" @click="openDeleteConfirm(item)">
              <v-icon left>
                mdi-trash-can
              </v-icon>
              {{ $t('group.deleteGroup') }}
            </v-btn>

            <v-btn v-else class="ml-2" color="warning" @click="openDeleteConfirm(item)">
              <v-icon left>
                mdi-logout
              </v-icon>
              {{ $t('group.unsubscribe') }}
            </v-btn>
          </template>

          <template v-slot:no-data>
            NO DATA
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <new-group-modal :open="newGroupModalOpen" @onModalClose="closeModal" />
    <confirm-dialog :open="confirmDialog" @confirmClose="confirmModalClose" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import NewGroupModal from '@/components/profile/groups-tab/newGroupModal'
import ConfirmDialog from '@/components/shared/ConfirmDialog'

export default {
  components: { NewGroupModal, ConfirmDialog },
  data () {
    return {
      newGroupModalOpen: false,
      dialog: false,
      confirmDialog: false,
      deletedItem: null,
      headers: [
        { text: 'Group name', value: 'data.name' },
        { text: 'Actions', value: 'action', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'uid'
    ]),
    ...mapGetters('modules/groups', [
      'userGroups',
      'userGroupsLoaded'
    ])
  },
  mounted () {
    this.$store.dispatch('modules/groups/getUserGroups', this.uid)
  },
  methods: {
    createGroup () {
      this.newGroupModalOpen = true
    },
    closeModal () {
      this.newGroupModalOpen = false
    },
    confirmModalClose (resp) {
      if (resp) {
        this.deleteItem()
      }
      this.confirmDialog = false
    },
    isGroupAdmin (group) {
      if (group.data.owner === this.uid) {
        return true
      }
      return false
    },
    openDeleteConfirm (item) {
      this.deletedItem = item
      this.confirmDialog = true
    },
    async deleteItem () {
      const uid = this.uid

      const dispatchPath = this.deletedItem.data.owner === uid ? 'modules/groups/deleteGroup' : 'modules/groups/deleteUserGroup'
      try {
        await this.$store.dispatch(dispatchPath, { item: this.deletedItem, uid })
        // console.log('item deleted')
      } catch (error) {
        // console.log(error)
      }
    }
  }
}
</script>
