<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-card class="mx-auto">
      <v-card-title class="title font-weight-regular">
        <v-avatar color="primary lighten-2" class="subheading white--text mr-3" size="24" v-text="step" />
        <span>{{ currentTitle }}</span>
      </v-card-title>

      <v-window v-model="step">
        <v-window-item :value="1">
          <v-card-text>
            <v-text-field v-model="newGroupName" :label="$t('shared.formLabels.groupName')" />
            <span class="caption grey--text text--darken-1">
              {{ $t('components.newGroupModal.groupNameCaption') }}
            </span>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="2">
          <v-card-text>
            <v-combobox
              v-model="invitedUsers"
              :items="items"
              append-icon=""
              dense
              chips
              :label="$t('shared.formLabels.groupInvited')"
              multiple
            />
            <span class="caption grey--text text--darken-1">
              {{ $t('components.newGroupModal.groupInvitedCaption') }}
            </span>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="3">
          <v-card-text>
            <v-autocomplete
              v-model="newGroupSharedBooks"
              :items="userBooks"
              item-text="data.title"
              item-value="id"
              :label="$t('shared.formLabels.groupSharedBooks')"
              multiple
              chips
            />
            <span class="caption grey--text text--darken-1">
              {{ $t('components.newGroupModal.groupSharedBooksCaption') }}
            </span>
          </v-card-text>
        </v-window-item>
      </v-window>

      <v-divider />

      <v-card-actions class="py-5">
        <v-btn small :disabled="step === 1" color="primary" outlined @click="step--">
          <v-icon left v-text="'mdi-chevron-left'" />
          <span class="d-none d-sm-flex">{{ $t('shared.back') }}</span>
        </v-btn>

        <v-btn small :disabled="step === numSteps" color="primary" outlined @click="stepForward">
          <span class="d-none d-sm-flex">{{ $t('shared.next') }}</span>
          <v-icon right v-text="'mdi-chevron-right'" />
        </v-btn>

        <v-spacer />

        <v-btn small :disabled="step < numSteps" color="primary" @click="createNewGroup">
          <v-icon left v-text="'mdi-file-plus'" />
          <span class="d-none d-sm-flex">{{ $t('components.newGroupModal.createNewGroup') }}</span>
        </v-btn>

        <v-btn small text @click="closeModal">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  props: { open: Boolean },
  data () {
    return {
      step: 1,
      numSteps: 3,
      invitedUsers: [],
      items: [],
      existentUsers: []
    }
  },
  computed: {
    currentTitle () {
      switch (this.step) {
        case 1: return this.$i18n.translate('components.newGroupModal.pickName')
        case 2: return this.$i18n.translate('components.newGroupModal.inviteCollaborators')
        case 3: return this.$i18n.translate('components.newGroupModal.shareBooks')
        default: return '---'
      }
    },
    ...mapGetters('modules/user', [
      'uid',
      'users'
    ]),
    ...mapGetters('modules/books', [
      'userBooks'
    ]),
    ...mapFields({
      newGroupName: 'modules.groups.newGroupName',
      newGroupInvited: 'modules.groups.newGroupInvited',
      newGroupSharedBooks: 'modules.groups.newGroupSharedBooks'
    })
  },
  mounted () {
    this.$store.dispatch('modules/user/getUsers')
    this.$store.dispatch('modules/books/getUserBooks', this.uid)
    this.$store.commit('modules/groups/SET_GROUP_OWNER', this.uid)
  },
  methods: {
    closeModal () {
      this.$emit('onModalClose')
      this.step = 1
    },
    async createNewGroup () {
    // createNewGroup () {
      // console.log(this.newGroupInvited)
      try {
        await this.$store.dispatch('modules/groups/createNewGroup', { users: this.existentUsers })
        this.sendInAppNotification({ groupName: this.newGroupName, users: this.existentUsers })
        this.$store.commit('modules/groups/RESET_NEW_GROUP_DATA')
        this.$toast.global.sbc_success({ message: this.$i18n.translate('shared.toastMessages.newGroupCreated') })
        this.closeModal()
      } catch (error) {
        this.$toast.global.sbc_error(error)
      }
    },
    sendInAppNotification (attr) {
      attr.users.forEach((user) => {
        this.$store.dispatch('modules/user/sendInAppNotification', {
          user,
          type: 'groupInvitationReceived',
          url: '/profile/groups',
          text: attr.groupName
        })
      })
    },
    stepForward () {
      if (this.step === 2) {
        this.invitedUsers.forEach((user) => {
          const index = this.users.findIndex(x => x.data.email === user)
          if (index !== -1) {
            this.existentUsers.push(this.users[index].id)
          } else {
            this.$toast.global.sbc_error({ message: 'User ' + user + ' not found!' })
          }
        })
      }
      this.step++
    }
  }
}
</script>
