<template>
  <v-card-text v-if="groupRequests">
    <v-data-table
      :headers="headers"
      :items="groupRequests"
      :items-per-page="10"
    >
      <template v-slot:item.action="{ item }">
        <v-btn
          small
          class="mr-2"
          @click="viewDiff(item)"
        >
          {{ $t('group.viewChanges') }}
        </v-btn>
      </template>
      <template v-slot:no-data>
        NO DATA
      </template>
    </v-data-table>

    <v-dialog
      v-if="diffBook"
      v-model="diffDialog"
      scrollable
      fullscreen
    >
      <v-card height="100vh" style="overflow: scroll">
        <v-toolbar max-height="64" dark color="primary">
          <v-btn icon dark @click="diffDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('group.reviewDiffs') }}</v-toolbar-title>
          <v-spacer />
          <v-toolbar-items v-if="canSave">
            <v-btn
              :loading="isSaving"
              :disabled="isSaving"
              dark
              text
              @click="resetChanges()"
            >
              {{ $t('shared.reset') }}
            </v-btn>
            <v-btn
              :loading="isSaving"
              :disabled="isSaving"
              dark
              text
              @click="mergeDiffs()"
            >
              {{ $t('shared.save') }}
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container>
          <v-row v-for="chapter in diffBook.data.chapters" :key="chapter.uuid" class="border-bottom">
            <v-col cols="6">
              <div class="pt-5">
                <div class="title">
                  {{ chapter.title }}
                </div>
                <v-sheet v-for="block in chapter.content.blocks" :key="block.timestamp" class="lighten-4 pa-2 mb-2" :class="chapter.clone ? 'red' : 'grey'">
                  {{ block.data.text }}
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="6">
              <div v-if="chapter.clone" style="position: relative" class="pt-5">
                <div class="title">
                  {{ chapter.clone.title }}
                </div>
                <v-sheet v-for="block in chapter.clone.content.blocks" :key="block.timestamp" class="green lighten-4 pa-2 mb-2">
                  {{ block.data.text }}
                </v-sheet>
                <div class="actionsBtns">
                  <v-btn color="error" small @click="handleDiff(false,'chapter',chapter.clone)">
                    <v-icon>
                      mdi-cancel
                    </v-icon>
                  </v-btn>
                  <v-btn color="success" small @click="handleDiff(true,'chapter',chapter.clone)">
                    <v-icon>
                      mdi-check
                    </v-icon>
                  </v-btn>
                </div>
              </div>
              <div v-else class="pt-5">
                <div>
                  <div class="title">
                    {{ chapter.title }}
                  </div>
                  <v-sheet v-for="block in chapter.content.blocks" :key="block.timestamp" class="grey lighten-4 pa-2 mb-2">
                    {{ block.data.text }}
                  </v-sheet>
                </div>
              </div>
            </v-col>
            <v-col class="subchapter" cols="12">
              <v-row v-for="child in chapter.children" :key="child.uuid">
                <v-col cols="6">
                  <div class="pt-5">
                    <div class="title">
                      {{ child.title }}
                    </div>
                    <v-sheet v-for="block in child.content.blocks" :key="block.timestamp" class="lighten-4 pa-2 mb-2" :class="child.clone ? 'red' : 'grey'">
                      {{ block.data.text }}
                    </v-sheet>
                  </div>
                </v-col>
                <v-col cols="6">
                  <div v-if="child.clone" style="position: relative" class="pt-5">
                    <div class="title">
                      {{ child.clone.title }}
                    </div>
                    <v-sheet v-for="block in child.clone.content.blocks" :key="block.timestamp" class="green lighten-4 pa-2 mb-2">
                      {{ block.data.text }}
                    </v-sheet>
                    <div class="actionsBtns">
                      <v-btn color="error" small @click="handleDiff(false,'subchapter',child.clone, chapter.uuid)">
                        <v-icon>
                          mdi-cancel
                        </v-icon>
                      </v-btn>
                      <v-btn color="success" small @click="handleDiff(true,'subchapter',child.clone, chapter.uuid)">
                        <v-icon>
                          mdi-check
                        </v-icon>
                      </v-btn>
                    </div>
                  </div>
                  <div v-else class="pt-5">
                    <div>
                      <div class="title">
                        {{ child.title }}
                      </div>
                      <v-sheet v-for="block in child.content.blocks" :key="block.timestamp" class="grey lighten-4 pa-2 mb-2">
                        {{ block.data.text }}
                      </v-sheet>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-card-text>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    group: {
      type: Object,
      default: null
    },
    groupBooks: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      diffDialog: false,
      diffBookClone: null,
      canSave: false,
      isSaving: false,
      user: null,
      headers: [
        { text: 'Email', value: 'user.data.email' },
        { text: 'Book Title', value: 'bookName' },
        { text: 'Actions', value: 'action', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'users'
    ]),
    ...mapGetters('modules/books', [
      'currentBook',
      'diffBook'
    ]),
    ...mapGetters('modules/groups', [
      'groupRequests'
    ])
  },
  watch: {
    group: {
      handler: 'getGroupRequests',
      deep: true
    }
  },
  mounted () {
    this.getGroupRequests()
  },
  methods: {
    viewDiff (item) {
      this.user = item.user.id
      const index = this.groupBooks.findIndex(book => book.id === item.originalBook)
      const bookClone = item.bookClone
      this.$store.dispatch('modules/books/setDiffBook', { book: this.groupBooks[index], id: bookClone })
      this.contributorId = item.user.id
      this.diffDialog = true
    },
    handleDiff (...params) {
      if (!this.diffBookClone) {
        this.diffBookClone = JSON.parse(JSON.stringify(this.diffBook))
      }

      this.$store.commit('modules/books/ACCEPT_CHAPTER_CHANGE', params)
      this.canSave = true
    },
    resetChanges () {
      // console.log('reset')
      this.canSave = false
      this.$store.commit('modules/books/SET_DIFF_BOOK', this.diffBookClone)
      this.diffBookClone = null
    },
    getGroupRequests () {
      // console.log('change')
      const users = this.users
      const books = this.groupBooks
      this.$store.dispatch('modules/groups/getChangeRequests', { users, books })
    },
    mergeDiffs () {
      this.isSaving = true
      this.$store.dispatch('modules/books/mergeDiffs').then((error) => {
        this.isSaving = false

        if (error) {
          this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
          this.diffDialog = false
        } else {
          this.$toast.global.sbc_success({ message: this.$t('group.diffsMerged') })
          this.$store.dispatch('modules/groups/resetRequests', { group: this.group.id, user: this.user }).then(() => {
            this.getGroupRequests()
          })
          this.$store.dispatch('modules/groups/setSyncNeeded', { groupId: this.group.id, bookId: this.diffBook.id })
          // this.$store.dispatch('modules/groups/sendSyncPushNotifications', { users: this.users })
          this.sendInAppNotification(this.group.group)
          this.diffDialog = false
        }
      }).catch((error) => {
        this.isSaving = false
        console.warn(error)
        this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
        this.diffDialog = false
      })
    },
    sendInAppNotification (group) {
      group.members.forEach((member) => {
        if (member !== group.owner) {
          this.$store.dispatch('modules/user/sendInAppNotification', {
            user: member,
            type: 'syncBookNotification',
            url: '/app/book-shelf',
            text: this.diffBookClone.data.title
          })
        }
      })

      this.$store.dispatch('modules/user/sendInAppNotification', {
        user: this.contributorId,
        type: 'ownerAcceptedChanges',
        url: '/profile/group/' + this.group.id,
        text: this.diffBookClone.data.title
      })
    }
  }
}
</script>

<style scoped>
.border-bottom {
  border-bottom: 1px solid dimgray;
}
.actionsBtns {
  position: absolute;
  top: 10px;
  right: 0;
}
.container div:last-child {
  border-bottom: none;
}
</style>
