<template>
  <v-card v-if="userMeta" flat tile>
    <avatar />

    <v-list v-if="isAdmin" class="user-sidebar-widget-list">
      <v-list-item-group color="primary">
        <v-list-item to="/admin/dashboard">
          <v-list-item-icon>
            <v-icon v-text="'mdi-view-dashboard-variant'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.adminNavItems.adminDashboard') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/admin/users">
          <v-list-item-icon>
            <v-icon v-text="'mdi-account-multiple'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.adminNavItems.users') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/admin/books">
          <v-list-item-icon>
            <v-icon v-text="'mdi-book-open'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.adminNavItems.books') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>

    <v-divider v-if="isAdmin" />

    <v-list class="user-sidebar-widget-list">
      <v-list-item-group color="primary">
        <v-list-item to="/profile/dashboard">
          <v-list-item-icon>
            <v-icon v-text="'mdi-view-dashboard'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.navItems.dashboard') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/profile/user-info">
          <v-list-item-icon>
            <v-icon v-text="'mdi-account-details'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.navItems.personalInfo') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/profile/groups">
          <v-list-item-icon>
            <v-icon v-text="'mdi-account-group'" />
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t('components.userSidebarWidget.navItems.groups') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

import Avatar from '~/components/shared/Avatar'

export default {
  components: { Avatar },
  computed: {
    ...mapGetters('modules/user', [
      'userMeta',
      'activeTab',
      'isAdmin'
    ]),
    test () {
      return 'foo'
    }
  }
}
</script>

<style lang="scss">
  .user-avatar {
    border-radius: 50%;
  }

  .user-sidebar-widget-list {
    border-radius: 0;
  }
</style>
