<template>
  <div>
    <v-row v-if="currentBook.data.needSync">
      <v-col>
        <v-alert
          type="warning"
          border="left"
          colored-border
          elevation="2"
          dense
        >
          <v-row align="center">
            <v-col class="grow">
              {{ $t('group.syncPending') }}
            </v-col>
            <v-col class="shrink">
              <v-btn
                color="warning"
                @click="openSyncDialog"
              >
                <v-icon>mdi-sync</v-icon>&nbsp;{{ $t('group.openSyncDialog') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-alert>
      </v-col>
    </v-row>

    <v-row ref="bookChaptersRow">
      <v-col v-if="isOwner" ref="bookChaptersCol" cols="12">
        <v-toolbar height="90" elevation="1">
          <v-btn
            large
            class="mr-4"
            absolute
            right
            @click="addChapter"
          >
            <v-icon>mdi-plus</v-icon>&nbsp;{{ $t('app.editor.chapters.add') }}
          </v-btn>

          <!-- <v-btn
            color="primary"
            large
            :loading="isSaving"
            :disabled="isSaving"
            @click="updateChapters"
          >
            <v-icon>mdi-content-save</v-icon>&nbsp;{{ $t('shared.save') }}
          </v-btn> -->
        </v-toolbar>
      </v-col>

      <v-col cols="12">
        <v-card elevation-1>
          <v-card-text>
            <v-sheet
              v-for="(chapter, i) in chapters"
              :key="i"
              class="px-3"
              @click.stop="selectChapter([i, undefined])"
            >
              <v-row class="">
                <v-col
                  class="chapter-row d-flex justify-space-between align-center"
                  :class="currentChapterIndex === i ? 'primary--text' : ''"
                >
                  <div class="title text-truncate d-flex align-center" style="height: 45px;">
                    <template v-if="chapter.children.length > 0">
                      <v-icon v-if="collapsed.includes(i)" class="ml-2 mr-3" @click="toggleCollapse(i)">
                        mdi-chevron-down
                      </v-icon>

                      <v-icon v-else class="ml-2 mr-3" @click="toggleCollapse(i)">
                        mdi-chevron-right
                      </v-icon>
                    </template>

                    <template v-else>
                      <v-icon class="ml-2 mr-3">
                        mdi-minus
                      </v-icon>
                    </template>

                    <v-icon v-if="currentChapterIndex === i" class="mr-3 primary--text">
                      mdi-bookmark-check
                    </v-icon>
                    <v-icon v-else class="mr-3">
                      mdi-bookmark-outline
                    </v-icon>

                    {{ i + 1 }} - {{ chapter.title }}
                  </div>

                  <v-menu v-if="isOwner" bottom left>
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>

                    <v-list dense>
                      <v-list-item @click.stop="openChapterSettingsModal(i)">
                        <v-list-item-content>
                          <v-list-item-title>{{ $t('app.editor.chapters.settings') }}</v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                          <v-icon>mdi-cog-outline</v-icon>
                        </v-list-item-icon>
                      </v-list-item>

                      <v-divider />

                      <v-list-item @click="addSubChapter(i)">
                        <v-list-item-content>
                          <v-list-item-title>{{ $t('app.editor.chapters.addSub') }}</v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                          <v-icon>mdi-bookmark-plus-outline</v-icon>
                        </v-list-item-icon>
                      </v-list-item>

                      <v-list-item :disabled="i === 0" @click="moveChapterUp(i)">
                        <v-list-item-content>
                          <v-list-item-title>{{ $t('app.editor.chapters.moveUp') }}</v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                          <v-icon>mdi-transfer-up</v-icon>
                        </v-list-item-icon>
                      </v-list-item>

                      <v-list-item :disabled="i === chapters.length - 1" @click="moveChapterDown(i)">
                        <v-list-item-content>
                          <v-list-item-title>{{ $t('app.editor.chapters.moveDown') }}</v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                          <v-icon>mdi-transfer-down</v-icon>
                        </v-list-item-icon>
                      </v-list-item>

                      <v-divider />

                      <v-list-item
                        :disabled="chapters.length > 1 ? false : true"
                        @click="deleteChapter(i)"
                      >
                        <v-list-item-content>
                          <v-list-item-title class="red--text">
                            {{ $t('app.editor.chapters.delete') }}
                          </v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-icon>
                          <v-icon color="red">
                            mdi-trash-can-outline
                          </v-icon>
                        </v-list-item-icon>
                      </v-list-item>
                    </v-list>
                  </v-menu>

                  <v-btn
                    v-if="!isOwner && chapters[i].edited && !chapters[i].submitted"
                    color="warning"
                    @click="submitToOwner(chapters[i].uuid)"
                  >
                    <v-icon>
                      mdi-arrow-up-bold-circle-outline
                    </v-icon>
                    <span v-if="columns[2].width > 550">&nbsp;{{ $t('group.submitChanges') }}</span>
                  </v-btn>
                </v-col>

                <template v-if="collapsed.includes(i)">
                  <v-col
                    v-for="(subchapter, j) in chapter.children"
                    :key="j"
                    cols="12"
                    class="chapter-row pl-12 d-flex justify-space-between align-center"
                    :class="currentChapterIndex === i && currentSubChapterIndex === j ? 'primary--text' : ''"
                    @click.stop="selectChapter([i, j])"
                  >
                    <div class="subtitle-2 text-truncate">
                      <v-icon v-if="currentChapterIndex === i && currentSubChapterIndex === j" class="ml-7 mr-3 primary--text">
                        mdi-bookmark-check
                      </v-icon>
                      <v-icon v-else class="ml-7 mr-3">
                        mdi-bookmark-outline
                      </v-icon>

                      {{ (i + 1) + '.' + (j + 1) }} - {{ subchapter.title }}
                    </div>

                    <v-menu v-if="isOwner" bottom left>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>

                      <v-list dense>
                        <v-list-item @click.stop="openChapterSettingsModal(i, j)">
                          <v-list-item-content>
                            <v-list-item-title>{{ $t('app.editor.chapters.subSettings') }}</v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-icon>
                            <v-icon>mdi-cog-outline</v-icon>
                          </v-list-item-icon>
                        </v-list-item>

                        <v-divider />

                        <v-list-item :disabled="j === 0" @click="moveChapterUp(i, j)">
                          <v-list-item-content>
                            <v-list-item-title>{{ $t('app.editor.chapters.moveUp') }}</v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-icon>
                            <v-icon>mdi-transfer-up</v-icon>
                          </v-list-item-icon>
                        </v-list-item>

                        <v-list-item :disabled="j === chapters[i].children.length - 1" @click="moveChapterDown(i, j)">
                          <v-list-item-content>
                            <v-list-item-title>{{ $t('app.editor.chapters.moveDown') }}</v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-icon>
                            <v-icon>mdi-transfer-down</v-icon>
                          </v-list-item-icon>
                        </v-list-item>

                        <v-divider />

                        <v-list-item
                          :disabled="chapters.length > 1 ? false : true"
                          @click="deleteSubChapter(i, j)"
                        >
                          <v-list-item-content>
                            <v-list-item-title class="red--text">
                              {{ $t('app.editor.chapters.deleteSub') }}
                            </v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-icon>
                            <v-icon color="red">
                              mdi-trash-can-outline
                            </v-icon>
                          </v-list-item-icon>
                        </v-list-item>
                      </v-list>
                    </v-menu>

                    <v-btn
                      v-if="!isOwner && chapters[i].children[j].edited && !chapters[i].children[j].submitted"
                      color="warning"
                      @click="submitToOwner(chapters[i].uuid, chapters[i].children[j].uuid)"
                    >
                      <v-icon color="success">
                        mdi-arrow-up-bold-circle-outline
                        <span v-if="columns[2].width > 550">&nbsp;{{ $t('group.submitChanges') }}</span>
                      </v-icon>
                    </v-btn>
                  </v-col>
                </template>
              </v-row>

              <v-divider v-if="i !== chapters.length - 1" class="my-6" />
            </v-sheet>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <chapter-settings-modal
      :open="chapterSettingsModalOpen"
      :chapter-data="chapterData"
      @onChaptersSettingsModalSaveAndClose="saveAndCloseChapterSettingsModal"
      @onChaptersSettingsModalClose="closeChaptersSettingsModal"
    />

    <sync-book-modal :sync-dialog="syncDialog" :book="currentBook" @onModalClose="syncDialog = false" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapMultiRowFields } from 'vuex-map-fields'

import ChapterSettingsModal from '~/components/app/ChapterSettingsModal'
import SyncBookModal from '~/components/app/SyncBookModal'

export default {
  components: { ChapterSettingsModal, SyncBookModal },
  props: {
    isOwner: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isSaving: false,
      chapterSettingsModalOpen: false,
      chapterData: {},
      collapsed: [],
      syncDialog: false
    }
  },
  computed: {
    ...mapGetters('modules/books', ['currentChapterIndex', 'currentSubChapterIndex', 'currentBook']),
    ...mapGetters('modules/editor', ['columns']),
    ...mapGetters('modules/user', ['user']),
    ...mapMultiRowFields({
      chapters: 'modules.books.currentBook.data.chapters'
    })
  },
  methods: {
    openSyncDialog () {
      this.syncDialog = true
    },
    openChapterSettingsModal (index, subIndex) {
      if (subIndex !== undefined) {
        this.selectChapter([index, subIndex])
        this.chapterData = {
          title: this.chapters[this.currentChapterIndex].children[this.currentSubChapterIndex].title,
          abstract: this.chapters[this.currentChapterIndex].children[this.currentSubChapterIndex].abstract
        }
      } else {
        this.selectChapter([index, undefined])
        this.chapterData = {
          title: this.chapters[this.currentChapterIndex].title,
          abstract: this.chapters[this.currentChapterIndex].abstract
        }
      }

      this.chapterSettingsModalOpen = true
    },
    saveAndCloseChapterSettingsModal (payload) {
      if (this.currentSubChapterIndex !== undefined) {
        this.$store.commit('modules/books/UPDATE_SUB_CHAPTER_DATA', payload)
      } else {
        this.$store.commit('modules/books/UPDATE_CHAPTER_DATA', payload)
      }

      this.updateChapters()
      this.chapterSettingsModalOpen = false
    },
    closeChaptersSettingsModal (payload) {
      this.chapterSettingsModalOpen = false
    },
    selectChapter (payload) {
      this.$store.commit('modules/books/SET_CURRENT_CONTENT', payload)
      this.$store.commit('modules/editor/SET_LAYOUT', [0, 2])
      this.$emit('chapterSelected', payload)
    },
    addChapter () {
      this.$store.commit('modules/books/ADD_CHAPTER')
      this.updateChapters()
      this.selectChapter([this.chapters.length - 1, undefined])
      this.openChapterSettingsModal(this.chapters.length - 1, undefined)
    },
    deleteChapter (index) {
      this.$store.commit('modules/books/DELETE_CHAPTER', index)

      if (index === this.currentChapterIndex) {
        let toSelect = index - 1
        if (toSelect < 0) { toSelect = 0 }
        this.selectChapter([toSelect, undefined])
      }
    },
    addSubChapter (index) {
      this.$store.commit('modules/books/ADD_SUB_CHAPTER', index)
      this.updateChapters()
      this.selectChapter([index, this.chapters[index].children.length - 1])
      this.collapsed.push(index)
      this.openChapterSettingsModal(index, this.chapters[index].children.length - 1)
    },
    deleteSubChapter (index, subIndex) {
      this.$store.commit('modules/books/DELETE_SUB_CHAPTER', { index, subIndex })

      if (index === this.currentChapterIndex && subIndex === this.currentSubChapterIndex) {
        let toSelect = subIndex - 1
        if (toSelect < 0) { toSelect = 0 }
        if (this.chapters[index].children.length > 0) {
          this.selectChapter([this.currentChapterIndex, toSelect])
        } else {
          this.selectChapter([this.currentChapterIndex, undefined])
        }
      } else {
        console.log('to handle')
      }
    },
    moveChapterDown (index, subIndex) {
      if (subIndex === undefined) {
        this.$store.commit('modules/books/MOVE_CHAPTER_DOWN', { index })
        this.selectChapter([index + 1, undefined])
      } else {
        this.$store.commit('modules/books/MOVE_SUB_CHAPTER_DOWN', { index, subIndex })
        this.selectChapter([index, subIndex + 1])
      }

      this.updateChapters()
    },
    moveChapterUp (index, subIndex) {
      if (subIndex === undefined) {
        this.$store.commit('modules/books/MOVE_CHAPTER_UP', { index })
        this.selectChapter([index - 1, undefined])
      } else {
        this.$store.commit('modules/books/MOVE_SUB_CHAPTER_UP', { index, subIndex })
        this.selectChapter([index, subIndex - 1])
      }

      this.updateChapters()
    },
    toggleCollapse (index) {
      if (this.collapsed.includes(index)) {
        this.collapsed.splice(this.collapsed.indexOf(index), 1)
      } else {
        this.collapsed.push(index)
      }
    },
    updateChapters () {
      this.isSaving = true

      this.$store.dispatch('modules/books/updateChapters').then((error) => {
        this.isSaving = false
        if (error) {
          this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
        } else {
          this.$toast.global.sbc_success({ message: this.$t('app.editor.chapters.structureSaved') })
          if (this.isOwner) {
            this.$store.dispatch('modules/groups/setSyncNeededFromBook', this.currentBook.id)
          }
        }
      })
    },
    submitToOwner (...chapter) {
      const book = this.currentBook
      this.$store.dispatch('modules/groups/submitChangesToOwner', { chapter, book }).then((error) => {
        if (error) {
          this.$toast.global.sbc_error({ message: this.$t('shared.oops') })
        } else {
          this.$store.commit('modules/books/CHANGES_SUBMITTED', chapter)
          this.$store.dispatch('modules/books/updateChaptersContributor')
          this.$store.dispatch('modules/user/sendInAppNotification', {
            user: book.data.originalAuthor,
            type: 'requestModification',
            url: '/profile/group/' + book.data.groupId,
            text: this.user.email
          })
          this.$toast.global.sbc_success({ message: this.$t('group.modsSumitted') })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .chapter-row {
    cursor: pointer;

    &:hover {
      color: darken($primary, 10);
    }
  }
</style>
