<template>
  <flipbook
    v-if="currentBook && canPreview"
    ref="flipbook"
    v-slot="flipbook"
    :style="{ width: columns[1].width - columns[1].drawerWidth + 'px' }"
    class="flipbook"
    :pages="pdfImages"
  >
    <div class="flipbook-navigation prev-rewind">
      <v-btn small class="rewind" fab :disabled="!flipbook.canFlipLeft" @click="rewind">
        <v-icon>
          mdi-rewind
        </v-icon>
      </v-btn>

      <v-btn small class="prev ml-2" fab :disabled="!flipbook.canFlipLeft" @click="flipbook.flipLeft">
        <v-icon>
          mdi-chevron-left
        </v-icon>
      </v-btn>
    </div>

    <div class="flipbook-navigation next-update">
      <v-btn small class="next mr-2" fab :disabled="!flipbook.canFlipRight" @click="flipbook.flipRight">
        <v-icon>
          mdi-chevron-right
        </v-icon>
      </v-btn>

      <v-btn small class="fast-forward" fab :disabled="!flipbook.canFlipRight" @click="fastForward">
        <v-icon>
          mdi-fast-forward
        </v-icon>
      </v-btn>

      <v-btn
        v-if="canUpdatePdf"
        small
        color="warning"
        class="rewind ml-2"
        fab
        @click="updatePreview"
      >
        <v-icon>
          mdi-refresh
        </v-icon>
      </v-btn>
    </div>
  </flipbook>

  <v-card v-else>
    <v-sheet v-if="columns[1].width > 300" class="pa-4" color="warning lighten-2">
      {{ $t('app.editor.preview.expand') }}
    </v-sheet>
  </v-card>
</template>
<script>
import { mapGetters } from 'vuex'
import Flipbook from 'flipbook-vue'
import { download } from '~/assets/js/pdf-maker'

export default {
  components: { Flipbook },
  data () {
    return {
      canPreview: false,
      pdfImages: [],
      pdfUploading: false
    }
  },
  computed: {
    ...mapGetters('modules/books', [
      'currentBook',
      'canUpdatePdf'
    ]),
    ...mapGetters('modules/editor', [
      'columns',
      'drawerWidth'
    ])
  },
  watch: {
    columns: {
      handler: 'initPreview',
      deep: true
    },
    currentBook: {
      handler: 'setPdfUploaded',
      deep: true
    }
  },
  mounted () {
    this.initPreview()
    this.setCanPreview()
  },
  methods: {
    initPreview () {
      if (this.columns[1].width >= this.columns[1].maxWidth / 2) {
        this.getPdfPages()
        this.setCanPreview()
      }
    },
    setCanPreview () {
      if (this.columns[1].width + this.drawerWidth >= this.columns[1].maxWidth && !this.pdfUploading) {
        this.canPreview = true
      } else {
        this.canPreview = false
      }
    },
    getPdfPages () {
      // console.log(this.currentBook.data.pdfFileName)
      if (this.currentBook.data.pdfFileName && !this.pdfUploading) {
        this.pdfImages = []
        const fixedName = this.currentBook.data.pdfFileName.slice(0, this.currentBook.data.pdfFileName.length - 4)
        this.pdfImages.push(null)

        for (let i = 1; i <= this.currentBook.data.pdfPages; i++) {
          this.pdfImages.push(`http://res.cloudinary.com/gianluca-macaluso/image/upload/pg_${i}/social-books-creator/${fixedName}.jpg`)
        }
      } else if (!this.pdfUploading) {
        this.pdfUploading = true
        download(this.currentBook, this.$store, false)
      }
    },
    setPdfUploaded () {
      if (this.columns[1].width >= this.columns[1].maxWidth / 2) {
        this.pdfUploading = false
        console.log('setPdfUploaded')
        this.getPdfPages()
      }
    },
    rewind () {
      this.$refs.flipbook.goToPage(0)
    },
    fastForward () {
      this.$refs.flipbook.goToPage(this.$refs.flipbook.pages.length - 2)
    },
    updatePreview () {
      download(this.currentBook, this.$store, false)
      this.$store.commit('modules/books/CAN_UPDATE_PDF', false)
      this.rewind()
    }
  }
}
</script>

<style lang="scss">
.flipbook {
  position: relative;
  width: 100%;
  height: 100%;

  .flipbook-navigation {
      z-index: 2;
      position: absolute;
      bottom: -9px;

      &.prev-rewind {
        left: 20px;
      }

      &.next-update {
        right: 20px;
      }
  }

  .viewport {
    .container {
      max-width: initial;
      padding: 0;
      transform: scale(0.9) !important;
      transform-origin: center;
    }

    .bounding-box {
      box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
