<template>
  <v-card :style="{ background: 'linear-gradient(to bottom, #8bc0dd, #42AB3D)' }">
    <v-img
      v-if="book.data.cover"
      :src="book.data.cover.cloudinaryPath"
      class="align-end"
      gradient="to bottom, rgba(0, 0, 0, .01), rgba(0, 0, 0, .15)"
      height="200px"
    >
      <v-card-title>
        <nuxt-link
          class="white--text text-no-wrap text-truncate title"
          :to="isOwner ? `/app/editor/book/${ book.id }` : `/app/editor/book/contributor/${ book.id }` "
        >
          {{ book.data.title }}
        </nuxt-link>
      </v-card-title>
    </v-img>

    <v-img
      v-else
      :src="require('../../assets/images/generic-book-cover-transparent.png')"
      class="align-end"
      gradient="to bottom, rgba(0, 0, 0, .01), rgba(0, 0, 0, .15)"
      height="200px"
    >
      <v-card-title>
        <nuxt-link
          class="white--text text-no-wrap text-truncate title"
          :to="isOwner ? `/app/editor/book/${ book.id }` : `/app/editor/book/contributor/${ book.id }` "
        >
          {{ book.data.title }}
        </nuxt-link>
      </v-card-title>
    </v-img>

    <v-card-actions class="white">
      <v-btn v-if="!isOwner" icon disabled>
        <v-icon>mdi-account-group</v-icon>
      </v-btn>

      <v-btn v-if="book.data.needSync" icon color="warning" @click.native="openSyncDialog">
        <v-icon>mdi-sync-alert</v-icon>
      </v-btn>

      <v-spacer />

      <v-menu bottom right>
        <template v-slot:activator="{ on }">
          <v-btn icon :loading="book.id === pdfIsBuilding" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list dense>
          <v-list-item-group>
            <v-list-item
              :to="isOwner ? `/app/editor/book/${ book.id }` : `/app/editor/book/contributor/${ book.id }` "
              nuxt
            >
              <v-list-item-content>
                <v-list-item-title>{{ $t('components.bookCard.openEditor') }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon class="pl-6">
                <v-icon>mdi-book-open-outline</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-list-item @click="downloadPdf">
              <v-list-item-content>
                <v-list-item-title>{{ $t('components.bookCard.downloadPdf') }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon class="pl-6">
                <v-icon>mdi-file-download-outline</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-list-item v-if="book.data.needSync" @click="openSyncDialog">
              <v-list-item-content>
                <v-list-item-title>{{ $t('group.openSyncDialog') }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon class="pl-6">
                <v-icon>mdi-sync</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-list-item v-if="isOwner && !fromGroupPage" @click="duplicateBook(true)">
              <v-list-item-content>
                <v-list-item-title>{{ $t('components.bookCard.duplicate') }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon>
                <v-icon>mdi-content-duplicate</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-list-item v-if="isOwner && !fromGroupPage" @click="duplicateBook(false)">
              <v-list-item-content>
                <v-list-item-title>{{ $t('components.bookCard.saveTemplate') }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon>
                <v-icon>mdi-content-save-move-outline</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-divider v-if="!fromGroupPage" />

            <v-list-item v-if="!fromGroupPage" @click="$emit('on-open-modal-from-child')">
              <v-list-item-content>
                <v-list-item-title class="red--text">
                  {{ $t('shared.delete') }}
                </v-list-item-title>
              </v-list-item-content>

              <v-list-item-icon>
                <v-icon color="red">
                  mdi-trash-can-outline
                </v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </v-card-actions>

    <sync-book-modal v-if="!isOwner" :sync-dialog="syncDialog" :book="book" @onModalClose="syncDialog = false" @openPartialSyncModal="openPartialSyncDialog()" />
    <partial-sync-book-modal v-if="!isOwner && partialSyncDialog" :partial-sync-book="partialSyncBook" :partial-sync-dialog="partialSyncDialog" @closePartialSyncModal="partialSyncDialog = false" />
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { download } from '~/assets/js/pdf-maker'

import SyncBookModal from '~/components/app/SyncBookModal'
import PartialSyncBookModal from '~/components/app/PartialSyncBookModal'

export default {
  components: { SyncBookModal, PartialSyncBookModal },
  props: {
    book: {
      type: Object,
      default: null
    },
    gradient: {
      type: String,
      default: null
    },
    fromGroupPage: {
      type: Boolean,
      default: false
    },
    isOwner: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      syncDialog: false,
      partialSyncDialog: false,
      partialSyncBook: null
    }
  },
  computed: {
    ...mapGetters('modules/pdf', ['pdfIsBuilding'])
  },
  // mounted () {
  //   console.log(this.$pdf)
  // },
  methods: {
    downloadPdf () {
      // this.$store.commit('modules/pdf/SET_PDF_IS_BUILDING', this.book.id)
      // utils.pdfDownloader2(this.$props.book)
      // this.$pdfUtils(this.$props.book)
      // console.log(pdfUtils(this.$props.book, this.$store))
      // pdfUtils(this.$props.book, this.$store)
      download(this.$props.book, this.$store, true)
    },
    openSyncDialog () {
      this.syncDialog = true
    },
    openPartialSyncDialog () {
      this.syncDialog = false
      this.partialSyncDialog = true
      this.partialSyncBook = this.book
    },
    duplicateBook (content) {
      const book = JSON.parse(JSON.stringify(this.$props.book))
      this.$store.dispatch('modules/books/duplicateBook', { book, content })
    }
  }
}
</script>
