<template>
  <v-row>
    <v-col cols="6">
      <!-- BOOK INFO -->
      <v-card elevation-1 class="mb-6">
        <v-card-subtitle>
          {{ $t('app.editor.bookSettings.bookInfo') }}
        </v-card-subtitle>

        <v-divider class="mx-4" />

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="lazy"
          >
            <v-text-field
              v-model="bookTitle"
              :counter="30"
              :rules="titleRules"
              :label="$t('app.editor.bookSettings.title')"
              required
            />

            <v-textarea
              v-model="bookAbstract"
              :label="$t('app.editor.bookSettings.abstract')"
            />
          </v-form>
        </v-card-text>
      </v-card>

      <!-- COVER EDITOR -->
      <v-card elevation-1>
        <v-card-subtitle>
          {{ $t('app.editor.bookSettings.bookCoverEditor') }}
        </v-card-subtitle>

        <v-divider class="mx-4" />

        <v-card-text>
          <div id="coverPreviewContainer">
            <div
              id="coverPreview"
              :class="bookOrientation === 'portrait' ? 'portrait' : 'landscape'"
            >
              <v-img
                v-if="bookCoverCloudinaryPath"
                :src="bookCoverCloudinaryPath"
                :width="bookOrientation === 'portrait' ? 210 : 230"
                :height="bookOrientation === 'portrait' ? 222 : 144"
              />

              <v-img
                v-else
                :src="bookOrientation == 'portrait' ?
                  require('~/assets/images/cover-placeholder-A4-portrait.png') :
                  require('~/assets/images/cover-placeholder-A4-landscape.png')"
              />

              <div v-if="bookCoverShowTitle" class="cover-title" :style="coverTitleStyle">
                <div :style="coverTitleInnerStyle">
                  {{ bookTitle }}
                </div>
              </div>

              <div v-if="bookCoverShowTitle" class="cover-title" :style="coverAuthorStyle">
                <div :style="coverAuthorInnerStyle">
                  {{ userMeta.firstName + ' ' + userMeta.surname }}
                </div>
              </div>
            </div>
          </div>

          <v-file-input
            v-model="coverImageFile"
            placeholder="Choose an image to use as cover background"
            label="Cover file"
            :loading="coverImageLoading"
            prepend-icon="mdi-file-upload-outline"
            hide-input="true"
            @change="onCoverFileChange"
          >
            <!-- <template v-slot:selection="{ text }">
              <v-chip
                small
                label
                color="primary"
              >
                {{ text }}
              </v-chip>
            </template> -->
          </v-file-input>
        </v-card-text>

        <v-divider class="mx-4" />

        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-checkbox v-model="bookCoverShowTitle" label="Show title and author?" />
            </v-col>

            <v-col v-if="bookCoverShowTitle" cols="6">
              <v-select
                v-model="bookCoverTitlePosition"
                :items="titlePositions"
                item-text="label"
                item-value="value"
                menu-props="auto"
                label="Title position"
                hide-details
                :disabled="!bookCoverShowTitle"
                append-icon="mdi-menu-down-outline"
                class="mb-6"
              />

              <v-text-field v-model="bookCoverTitleColor" label="Title Color" readonly :disabled="!bookCoverShowTitle">
                <template v-slot:append>
                  <v-menu
                    v-model="coverTitleColorMenu"
                    top
                    nudge-bottom="105"
                    nudge-left="16"
                    :close-on-content-click="false"
                    :disabled="!bookCoverShowTitle"
                  >
                    <template v-slot:activator="{ on }">
                      <div :style="swatchCoverTitleColorStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookCoverTitleColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>

              <v-text-field v-model="bookCoverTitleBackgroundColor" label="Title Background" readonly :disabled="!bookCoverShowTitle">
                <template v-slot:append>
                  <v-menu
                    v-model="coverTitleBackgroundColorMenu"
                    top
                    nudge-bottom="105"
                    nudge-left="16"
                    :close-on-content-click="false"
                    :disabled="!bookCoverShowTitle"
                  >
                    <template v-slot:activator="{ on }">
                      <div :style="swatchCoverTitleBackgroundColorStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookCoverTitleBackgroundColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>
            </v-col>

            <v-col v-if="bookCoverShowTitle" cols="6">
              <v-select
                v-model="bookCoverAuthorPosition"
                :items="titlePositions"
                item-text="label"
                item-value="value"
                menu-props="auto"
                label="Author name position"
                hide-details
                :disabled="!bookCoverShowTitle"
                append-icon="mdi-menu-down-outline"
                class="mb-6"
              />

              <v-text-field v-model="bookCoverAuthorColor" label="Author name Color" readonly :disabled="!bookCoverShowTitle">
                <template v-slot:append>
                  <v-menu
                    v-model="coverAuthorColorMenu"
                    top
                    nudge-bottom="105"
                    nudge-left="16"
                    :close-on-content-click="false"
                    :disabled="!bookCoverShowTitle"
                  >
                    <template v-slot:activator="{ on }">
                      <div :style="swatchCoverAuthorColorStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookCoverAuthorColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>

              <v-text-field v-model="bookCoverAuthorBackgroundColor" label="Author name Background" readonly :disabled="!bookCoverShowTitle">
                <template v-slot:append>
                  <v-menu
                    v-model="coverAuthorBackgroundColorMenu"
                    top
                    nudge-bottom="105"
                    nudge-left="16"
                    :close-on-content-click="false"
                    :disabled="!bookCoverShowTitle"
                  >
                    <template v-slot:activator="{ on }">
                      <div :style="swatchCoverAuthorBackgroundColorStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookCoverAuthorBackgroundColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <v-col cols="6">
      <!-- PUBLISHING SETTINGS -->
      <v-card elevation-1 class="mb-6">
        <v-card-subtitle>
          {{ $t('app.editor.bookSettings.publishingSettings') }}
        </v-card-subtitle>

        <v-divider class="mx-4" />

        <v-card-text>
          <v-form
            v-model="valid"
            :lazy-validation="lazy"
          >
            <v-switch
              v-model="bookPublished"
              :label="bookPublished ? $t('app.editor.bookSettings.unpublish') : $t('app.editor.bookSettings.publish')"
            />

            <v-select
              v-if="bookLicense"
              v-model="bookLicense"
              :items="availableLicenses"
              :hint="$t('app.editor.bookSettings.license')"
              persistent-hint
              item-text="data.text"
              item-value="id"
              solo
            />

            <v-checkbox v-model="bookAddChapterIndex" label="Add chapter index?" />
          </v-form>
        </v-card-text>
      </v-card>

      <!-- FORMATTING OPTIONS -->
      <v-card elevation-1>
        <v-card-subtitle>
          {{ $t('app.editor.bookSettings.formatOptions') }}
        </v-card-subtitle>

        <v-divider class="mx-4" />

        <v-card-text>
          <v-row>
            <v-col cols="3">
              <v-btn-toggle v-model="bookOrientation" color="primary">
                <v-btn value="portrait">
                  <v-icon :color="bookOrientation === 'portrait' ? 'primary' : ''">
                    mdi-crop-portrait
                  </v-icon>
                </v-btn>

                <v-btn value="landscape">
                  <v-icon :color="bookOrientation === 'landscape' ? 'primary' : ''">
                    mdi-crop-landscape
                  </v-icon>
                </v-btn>
              </v-btn-toggle>
            </v-col>

            <v-col cols="9">
              <v-text-field
                :value="bookOrientation"
                :label="$t('app.editor.bookSettings.orientation')"
                readonly
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <v-select
                v-model="bookPageSize"
                :items="pages"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.pageSize')"
                hide-details
                append-icon="mdi-menu-down-outline"
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-divider class="mx-4" />

        <v-card-text>
          <v-row>
            <v-col cols="5">
              <v-select
                v-model="bookBodyFont"
                :items="fonts"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.bodyFont')"
                hide-details
                append-icon="mdi-menu-down-outline"
              >
                <template v-slot:selection="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>

                <template v-slot:item="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>
              </v-select>
            </v-col>

            <v-col cols="3">
              <v-select
                v-model="bookBodyFontSize"
                :items="sizes"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.size')"
                hide-details
                append-icon="mdi-menu-down-outline"
              />
            </v-col>

            <v-col cols="4">
              <v-text-field v-model="bookBodyFontColor" hide-details class="ma-0 pa-0" solo readonly>
                <template v-slot:append>
                  <v-menu v-model="bodyFontMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                    <template v-slot:activator="{ on }">
                      <div :style="swatchBodyStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookBodyFontColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="5">
              <v-select
                v-model="bookHeadingsFont"
                :items="fonts"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.headingFont')"
                hide-details
                append-icon="mdi-menu-down-outline"
              >
                <template v-slot:selection="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>

                <template v-slot:item="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>
              </v-select>
            </v-col>

            <v-col cols="3">
              <v-select
                v-model="bookHeadingsFontSize"
                :items="sizes"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.size')"
                hide-details
                append-icon="mdi-menu-down-outline"
              />
            </v-col>

            <v-col cols="4">
              <v-text-field v-model="bookHeadingsFontColor" hide-details class="ma-0 pa-0" solo>
                <template v-slot:append>
                  <v-menu v-model="headingsFontMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                    <template v-slot:activator="{ on }">
                      <div :style="swatchHeadingStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookHeadingsFontColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="5">
              <v-select
                v-model="bookPreFont"
                :items="preFonts"
                item-text="label"
                item-value="value"
                menu-props="auto"
                label="Monospace font"
                hide-details
                append-icon="mdi-menu-down-outline"
                filter="return "
              >
                <template v-slot:selection="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>

                <template v-slot:item="{ item }">
                  <span :style="'font-family: \'' + item.label + '\';'">
                    {{ item.label }}
                  </span>
                </template>
              </v-select>
            </v-col>

            <v-col cols="3">
              <v-select
                v-model="bookPreFontSize"
                :items="sizes"
                item-text="label"
                item-value="value"
                menu-props="auto"
                :label="$t('app.editor.bookSettings.size')"
                hide-details
                append-icon="mdi-menu-down-outline"
              />
            </v-col>

            <v-col cols="4">
              <v-text-field v-model="bookPreFontColor" hide-details class="ma-0 pa-0" solo>
                <template v-slot:append>
                  <v-menu v-model="preFontMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                    <template v-slot:activator="{ on }">
                      <div :style="swatchPreStyle" v-on="on" />
                    </template>
                    <v-card>
                      <v-card-text class="pa-0">
                        <v-color-picker v-model="bookPreFontColor" flat />
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </template>
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    valid: true,
    lazy: false,
    isSaving: false,
    titleRules: [
      v => !!v || 'Title is required',
      v => (v && v.length <= 30) || 'Title must be less than 30 characters'
    ],
    pages: [
      {
        value: 'A3',
        label: 'A3 (297 mm x 420 mm - 11.69 in x 16.54 in - 842 pt x 1191 pt)'
      },
      {
        value: 'A4',
        label: 'A4 (210 mm 297 mm - 8.27 in x 11.69 in - 595 pt x 842 pt)'
      },
      {
        value: 'A5',
        label: 'A5 (148 mm x 210 mm - 5.83 in x 8.27 in - 420 pt x 595 pt)'
      }
    ],
    fonts: [
      {
        value: 'Montserrat',
        label: 'Montserrat',
        type: 'sans-serif'
      },
      {
        value: 'Open+Sans',
        label: 'Open Sans',
        type: 'sans-serif'
      },
      {
        value: 'Roboto',
        label: 'Roboto',
        type: 'sans-serif'
      },
      {
        value: 'Merriweather',
        label: 'Merriweather',
        type: 'serif'
      },
      {
        value: 'PT+Serif',
        label: 'PT Serif',
        type: 'serif'
      },
      {
        value: 'Crimson+Text',
        label: 'Crimson Text',
        type: 'serif'
      },
      {
        value: 'Courier+Prime',
        label: 'Courier Prime',
        type: 'monospace'
      },
      {
        value: 'Inconsolata',
        label: 'Inconsolata',
        type: 'monospace'
      },
      {
        value: 'Roboto+Mono',
        label: 'Roboto Mono',
        type: 'monospace'
      }
    ],
    sizes: [
      {
        value: 'small',
        label: 'Small'
      },
      {
        value: 'medium',
        label: 'Medium'
      },
      {
        value: 'large',
        label: 'Large'
      }
    ],
    color: '#1976D2FF',
    bodyFontMenu: false,
    headingsFontMenu: false,
    preFontMenu: false,
    coverImageFile: undefined,
    coverImageLoading: false,
    tempCloudinaryPath: null,
    titlePositions: [
      { value: 'leftTop', label: 'Left Top' },
      { value: 'leftCenter', label: 'Left Center' },
      { value: 'leftBottom', label: 'Left Bottom' },
      { value: 'centerTop', label: 'Center Top' },
      { value: 'centerCenter', label: 'Center Center' },
      { value: 'centerBottom', label: 'Center Bottom' },
      { value: 'rightTop', label: 'Right Top' },
      { value: 'rightCenter', label: 'Right Center' },
      { value: 'rightBottom', label: 'Right Bottom' }
    ],
    coverTitleColorMenu: false,
    coverTitleBackgroundColorMenu: false,
    coverAuthorColorMenu: false,
    coverAuthorBackgroundColorMenu: false
  }),
  computed: {
    ...mapGetters('modules/books', ['availableLicenses']),
    ...mapGetters('modules/user', ['userMeta']),
    ...mapFields({
      bookTitle: 'modules.books.currentBook.data.title',
      bookAbstract: 'modules.books.currentBook.data.abstract',
      bookPublished: 'modules.books.currentBook.data.published',
      bookLicense: 'modules.books.currentBook.data.license',
      bookAuthor: 'modules.books.currentBook.data.author',
      bookOrientation: 'modules.books.currentBook.data.format.orientation',
      bookPageSize: 'modules.books.currentBook.data.format.pageSize',
      bookBodyFont: 'modules.books.currentBook.data.format.typography.body.family',
      bookBodyFontSize: 'modules.books.currentBook.data.format.typography.body.size',
      bookBodyFontColor: 'modules.books.currentBook.data.format.typography.body.color',
      bookHeadingsFont: 'modules.books.currentBook.data.format.typography.headings.family',
      bookHeadingsFontSize: 'modules.books.currentBook.data.format.typography.headings.size',
      bookHeadingsFontColor: 'modules.books.currentBook.data.format.typography.headings.color',
      bookAddChapterIndex: 'modules.books.currentBook.data.format.chapterIndex',
      bookPreFont: 'modules.books.currentBook.data.format.typography.pre.family',
      bookPreFontSize: 'modules.books.currentBook.data.format.typography.pre.size',
      bookPreFontColor: 'modules.books.currentBook.data.format.typography.pre.color',
      bookCoverCloudinaryPath: 'modules.books.currentBook.data.cover.cloudinaryPath',
      bookCoverCloudinaryObject: 'modules.books.currentBook.data.cover.cloudinaryObject',
      bookCoverShowTitle: 'modules.books.currentBook.data.cover.showTitle',
      bookCoverTitlePosition: 'modules.books.currentBook.data.cover.titlePosition',
      bookCoverTitleColor: 'modules.books.currentBook.data.cover.titleColor',
      bookCoverTitleBackgroundColor: 'modules.books.currentBook.data.cover.titleBackgroundColor',
      bookCoverAuthorPosition: 'modules.books.currentBook.data.cover.authorPosition',
      bookCoverAuthorColor: 'modules.books.currentBook.data.cover.authorColor',
      bookCoverAuthorBackgroundColor: 'modules.books.currentBook.data.cover.authorBackgroundColor'
    }),
    preFonts () {
      return this.fonts.filter((font) => { return font.type === 'monospace' })
    },
    swatchBodyStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookBodyFontColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    swatchHeadingStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookHeadingsFontColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    swatchPreStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookPreFontColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    coverTitleStyle () {
      switch (this.bookCoverTitlePosition) {
        case 'leftTop':
          return { alignItems: 'flex-start', justifyContent: 'flex-start', textAlign: 'left' }
        case 'leftCenter':
          return { alignItems: 'center', justifyContent: 'flex-start', textAlign: 'left' }
        case 'leftBottom':
          return { alignItems: 'flex-end', justifyContent: 'flex-start', textAlign: 'left' }
        case 'centerTop':
          return { alignItems: 'flex-start', justifyContent: 'center', textAlign: 'center' }
        case 'centerCenter':
          return { alignItems: 'center', justifyContent: 'center', textAlign: 'center' }
        case 'centerBottom':
          return { alignItems: 'flex-end', justifyContent: 'center', textAlign: 'center' }
        case 'rightTop':
          return { alignItems: 'flex-start', justifyContent: 'flex-end', textAlign: 'right' }
        case 'rightCenter':
          return { alignItems: 'center', justifyContent: 'flex-end', textAlign: 'right' }
        case 'rightBottom':
          return { alignItems: 'flex-end', justifyContent: 'flex-end', textAlign: 'right' }
      }

      return {}
    },
    coverTitleInnerStyle () {
      return {
        fontFamily: this.bookHeadingsFont.replace('+', ' '),
        fontWeight: '700',
        color: this.bookCoverTitleColor,
        backgroundColor: this.bookCoverTitleBackgroundColor,
        padding: '3px 5px'
      }
    },
    coverAuthorStyle () {
      switch (this.bookCoverAuthorPosition) {
        case 'leftTop':
          return { alignItems: 'flex-start', justifyContent: 'flex-start', textAlign: 'left' }
        case 'leftCenter':
          return { alignItems: 'center', justifyContent: 'flex-start', textAlign: 'left' }
        case 'leftBottom':
          return { alignItems: 'flex-end', justifyContent: 'flex-start', textAlign: 'left' }
        case 'centerTop':
          return { alignItems: 'flex-start', justifyContent: 'center', textAlign: 'center' }
        case 'centerCenter':
          return { alignItems: 'center', justifyContent: 'center', textAlign: 'center' }
        case 'centerBottom':
          return { alignItems: 'flex-end', justifyContent: 'center', textAlign: 'center' }
        case 'rightTop':
          return { alignItems: 'flex-start', justifyContent: 'flex-end', textAlign: 'right' }
        case 'rightCenter':
          return { alignItems: 'center', justifyContent: 'flex-end', textAlign: 'right' }
        case 'rightBottom':
          return { alignItems: 'flex-end', justifyContent: 'flex-end', textAlign: 'right' }
      }

      return {}
    },
    coverAuthorInnerStyle () {
      return {
        fontFamily: this.bookHeadingsFont.replace('+', ' '),
        fontWeight: '700',
        color: this.bookCoverAuthorColor,
        backgroundColor: this.bookCoverAuthorBackgroundColor,
        padding: '3px 5px'
      }
    },
    swatchCoverTitleColorStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookCoverTitleColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    swatchCoverAuthorColorStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookCoverAuthorColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    swatchCoverTitleBackgroundColorStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookCoverTitleBackgroundColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    swatchCoverAuthorBackgroundColorStyle () {
      const { menu } = this
      return {
        backgroundColor: this.bookCoverAuthorBackgroundColor,
        cursor: 'pointer',
        height: '20px',
        width: '20px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    }
  },
  mounted () {
    this.$store.dispatch('modules/books/getAvailableLicenses')
  },
  methods: {
    onCoverFileChange (e) {
      const formData = new FormData()
      formData.append('upload_preset', 'social-books-creator')
      formData.append('file', e)

      fetch('https://api.cloudinary.com/v1_1/gianluca-macaluso/upload', {
        method: 'POST',
        body: formData
      }).then(response => response.json()).then((data) => {
        // console.log('uploaded')
        this.bookCoverCloudinaryPath = data.secure_url
        this.bookCoverCloudinaryObject = data
        this.tempCloudinaryPath = data.secure_url
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#coverPreviewContainer {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  #coverPreview {
    position: relative;
    display: flex;
    border-radius: 4px;
    border: 1px solid $primary;
    padding: 30px 20px 30px 20px;
    overflow: hidden;

    .v-image {
      display: flex;
      align-self: center;
      justify-self: center;
    }

    .cover-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px 20px 30px 20px;
      display: flex;
    }

    &.portrait {
      height: 294px;
      width: 210px;
    }

    &.landscape {
      width: 294px;
      height: 210px;
    }
  }
}
</style>
