<template>
  <v-row ref="bookLayoutRow">
    <v-col cols="12">
      <v-toolbar height="90" elevation="1">
        <v-menu v-if="currentBook" v-model="shown" max-width="250">
          <template v-slot:activator="{ on }">
            <v-btn
              text
              v-on="on"
            >
              <v-icon left>
                mdi-bookmark-multiple-outline
              </v-icon>

              {{ currentChapterTitle }}

              <v-icon right>
                mdi-menu-down-outline
              </v-icon>
            </v-btn>
          </template>

          <v-list flat dense>
            <v-list-item
              v-for="(chapter, i) in currentBook.data.chapters"
              :key="i"
              :ripple="false"
              class="my-3"
              @click.stop="onChapterSelection([i, undefined])"
            >
              <v-list-item-icon class="mr-3">
                <v-icon :color="hover === i ? 'primary' : ''">
                  mdi-bookmark
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content class="py-0">
                <v-list-item-title
                  class="py-3 font-weight-bold"
                  :class="hover === i ? 'primary--text' : ''"
                  @mouseover="hover = i"
                  @mouseleave="hover = null"
                >
                  {{ chapter.title }}
                </v-list-item-title>

                <template v-if="currentBook.data.chapters[i].children">
                  <v-list-item
                    v-for="(subChapter, j) in currentBook.data.chapters[i].children"
                    :key="j"
                    :ripple="false"
                    class="pl-0"
                    @click.stop="onChapterSelection([i, j])"
                  >
                    <v-list-item-icon class="mr-3">
                      <v-icon :color="hover === i + '' + j ? 'primary' : ''">
                        mdi-bookmark-outline
                      </v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title
                        :class="hover === i + '' + j ? 'primary--text' : ''"
                        @mouseover="hover = i + '' + j"
                        @mouseleave="hover = null"
                      >
                        {{ subChapter.title }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>

        <div class="buttons-toolbar">
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            offset-x
          >
            <template v-slot:activator="{ on }">
              <v-btn
                class="ml-1"
                v-on="on"
              >
                <v-icon>mdi-cards-variant</v-icon>
              </v-btn>
            </template>

            <v-card>
              <v-list dense>
                <v-list-item>
                  <v-list-item-action>
                    <v-switch v-model="colorsOn" />
                  </v-list-item-action>
                  <v-list-item-title>{{ colorsOn ? $t('app.editor.layout.hideColors') : $t('app.editor.layout.showColors') }}</v-list-item-title>
                </v-list-item>

                <v-list-item>
                  <v-list-item-action>
                    <v-switch v-model="blocksOn" />
                  </v-list-item-action>
                  <v-list-item-title>{{ blocksOn ? $t('app.editor.layout.hideBlocks') : $t('app.editor.layout.showBlocks') }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </div>
      </v-toolbar>
    </v-col>

    <v-col ref="bookLayoutCol" cols="12">
      <v-card id="bookContentContainer" elevation-1>
        <v-card-text class="py-10 px-7">
          <div
            id="editorjs"
            ref="editorjs"
            :class="editorClasses"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

import EditorJS from '@editorjs/editorjs'
import Header from '@editorjs/header'
import List from '@editorjs/list'
import CheckList from '@editorjs/checklist'
import Delimiter from '@editorjs/delimiter'
import Code from '@editorjs/code'
import Quote from '@editorjs/quote'
import Paragraph from '@editorjs/paragraph'
// import Link from '@editorjs/link'
import Raw from '@editorjs/raw'
import SimpleImage from '@editorjs/simple-image'
// import Image from '@editorjs/image'
import Embed from '@editorjs/embed'

// import MindMaps from '~/assets/js/diagrams.editor.plugin'
// import MindMaps from '~/assets/js/mindmaps.editor.plugin'
import ClodinaryImageUpload from '~/assets/js/cloudinary-image-upload.editor.plugin'

// import { download } from '~/assets/js/pdf-maker'

export default {
  props: {
    isOwner: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isSaving: false,
      tex: String.raw`$\sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}$`,
      editorInstance: null,
      editorConfig: {
        tools: {
          header: { class: Header, inlineToolbar: true },
          list: { class: List, inlineToolbar: true },
          checklist: { class: CheckList, inlineToolbar: true },
          delimiter: { class: Delimiter, inlineToolbar: true },
          code: { class: Code, inlineToolbar: true },
          quote: { class: Quote, inlineToolbar: true },
          paragraph: { class: Paragraph, inlineToolbar: true },
          // link: { class: Link, inlineToolbar: true },
          raw: { class: Raw, inlineToolbar: true },
          simpleImage: { class: SimpleImage, inlineToolbar: true },
          // image: {
          //   class: Image,
          //   config: {
          //     uploader: {
          //       uploadByFile (file) {
          //         console.log(file)
          //       },
          //       uploadByUrl (url) {
          //         console.log(url)
          //       }
          //     }
          //   }
          // },
          embed: {
            class: Embed,
            inlineToolbar: true,
            config: {
              services: {
                youtube: true
              }
            }
          },
          // mindMaps: { class: MindMaps, inlineToolbar: true },
          clodinaryImageUpload: { class: ClodinaryImageUpload, inlineToolbar: true }
        },
        autofocus: true,
        placeholder: 'Let`s write an awesome story!',
        onReady: () => {
          const to = setTimeout(() => {
            clearTimeout(to)
            this.updateEditorContent([0, undefined])
            this.addBlockClassNames()
          }, 500)
        },
        onChange: () => {
          this.addBlockClassNames()
        }
      },
      shown: false,
      menu: false,
      hover: null,
      colorsOn: true,
      blocksOn: true
    }
  },
  computed: {
    ...mapGetters('modules/books', [
      'currentBook',
      'currentChapterIndex',
      'currentSubChapterIndex'
    ]),
    // ...mapGetters('modules/pdf', ['pdfIsBuilding']),
    currentChapterTitle () {
      if (this.currentSubChapterIndex) {
        return this.currentBook.data.chapters[this.currentChapterIndex].children[this.currentSubChapterIndex].title
      } else {
        return this.currentBook.data.chapters[this.currentChapterIndex].title
      }
    },
    editorClasses () {
      return {
        colors: this.colorsOn,
        blocks: this.blocksOn,

        'b-sans-1': this.currentBook.data.format.typography.body.family === 'Montserrat',
        'b-sans-2': this.currentBook.data.format.typography.body.family === 'Open+Sans',
        'b-sans-3': this.currentBook.data.format.typography.body.family === 'Roboto',
        'b-serif-1': this.currentBook.data.format.typography.body.family === 'Merriweather',
        'b-serif-2': this.currentBook.data.format.typography.body.family === 'PT+Serif',
        'b-serif-3': this.currentBook.data.format.typography.body.family === 'Crimson+Text',
        'b-mono-1': this.currentBook.data.format.typography.body.family === 'Courier+Prime',
        'b-mono-2': this.currentBook.data.format.typography.body.family === 'Inconsolata',
        'b-mono-3': this.currentBook.data.format.typography.body.family === 'Roboto+Mono',
        'b-size-small': this.currentBook.data.format.typography.body.size === 'small',
        'b-size-medium': this.currentBook.data.format.typography.body.size === 'medium',
        'b-size-large': this.currentBook.data.format.typography.body.size === 'large',

        'h-sans-1': this.currentBook.data.format.typography.headings.family === 'Montserrat',
        'h-sans-2': this.currentBook.data.format.typography.headings.family === 'Open+Sans',
        'h-sans-3': this.currentBook.data.format.typography.headings.family === 'Roboto',
        'h-serif-1': this.currentBook.data.format.typography.headings.family === 'Merriweather',
        'h-serif-2': this.currentBook.data.format.typography.headings.family === 'PT+Serif',
        'h-serif-3': this.currentBook.data.format.typography.headings.family === 'Crimson+Text',
        'h-mono-1': this.currentBook.data.format.typography.headings.family === 'Courier+Prime',
        'h-mono-2': this.currentBook.data.format.typography.headings.family === 'Inconsolata',
        'h-mono-3': this.currentBook.data.format.typography.headings.family === 'Roboto+Mono',
        'h-size-small': this.currentBook.data.format.typography.headings.size === 'small',
        'h-size-medium': this.currentBook.data.format.typography.headings.size === 'medium',
        'h-size-large': this.currentBook.data.format.typography.headings.size === 'large',

        'pre-mono-1': this.currentBook.data.format.typography.pre.family === 'Courier+Prime',
        'pre-mono-2': this.currentBook.data.format.typography.pre.family === 'Inconsolata',
        'pre-mono-3': this.currentBook.data.format.typography.pre.family === 'Roboto+Mono',
        'pre-size-small': this.currentBook.data.format.typography.pre.size === 'small',
        'pre-size-medium': this.currentBook.data.format.typography.pre.size === 'medium',
        'pre-size-large': this.currentBook.data.format.typography.pre.size === 'large'
      }
    }
  },
  mounted () {
    this.$store.commit('modules/books/SET_CURRENT_CONTENT', [0, undefined])

    const hasBlocks = this.currentBook.data.chapters[this.currentChapterIndex].content.blocks.length > 0

    this.editorInstance = new EditorJS({
      ...this.editorConfig
      // data: hasBlocks ? this.currentBook.data.chapters[this.currentChapterIndex].content : {
      //   blocks: [],

      // }
    })

    if (hasBlocks) { this.editorInstance.data = this.currentBook.data.chapters[this.currentChapterIndex].content }
  },
  methods: {
    addBlockClassNames () {
      const blockNodes = document.getElementsByClassName('ce-block')
      for (const blockNode of blockNodes) {
        const blockType = blockNode.children.item(0).children.item(0).className.replace('cdx-block', '').replace(/ /g, '')
        switch (blockType) {
          case 'ce-paragraph':
            blockNode.classList.add('paragraph')
            break
          case 'ce-header':
            blockNode.classList.add('header')
            break
          case 'cdx-listcdx-list--ordered':
            blockNode.classList.add('ordered-list')
            break
          case 'cdx-checklist':
            blockNode.classList.add('checklist')
            break
          case 'ce-delimiter':
            blockNode.classList.add('delimiter')
            break
          case 'ce-code':
            blockNode.classList.add('code')
            break
          case 'cdx-quote':
            blockNode.classList.add('quote')
            break
          case 'ce-rawtool':
            blockNode.classList.add('raw')
            break
          case 'embed-tool':
            blockNode.classList.add('embed')
            break
          case 'cdx-simple-image':
            blockNode.classList.add('image')
            break
        }
      }
    },
    updateEditorContent (payload) {
      if (this.editorInstance && this.editorInstance.clear) {
        this.editorInstance.clear()

        let content
        if (payload[1] === undefined) {
          content = this.currentBook.data.chapters[payload[0]].content
        } else {
          content = this.currentBook.data.chapters[payload[0]].children[payload[1]].content
        }

        if (content.blocks) {
          this.editorInstance.render(content)
        }
      }
    },
    onChapterSelection (payload) {
      this.shown = false
      this.$store.commit('modules/books/SET_CURRENT_CONTENT', payload)
      this.updateEditorContent(payload)
    }
    // downloadPdf () {
    //   // if (this.currentBook.data.pdfURL) {
    //   //   const link = document.createElement('a')
    //   //   link.download = this.currentBook.data.pdfFileName
    //   //   link.href = this.currentBook.data.pdfURL
    //   //   link.target = 'blank'
    //   //   link.click()
    //   //   window.URL.revokeObjectURL(this.currentBook.data.pdfURL)
    //   // } else {
    //   download(this.currentBook, this.$store, true)
    //   // }
    // }
  }
}
</script>

<style lang="scss">
  $paragraph: #d11141;
  $header: #00b159;
  $orderedList: #00aedb;
  $checkList: #f37735;
  $delimiter: #ffc425;
  $code: #0c0909;
  $quote: #3b5998;
  $raw: #ffbbee;
  $embed: #4f372d;
  $image: #3d1e6d;

  $blockBGgOpacity: 0.2;

  #editorjs {
    .codex-editor {
      .codex-editor__redactor {
        .ce-block {
          padding: 15px;

          transition: all 0.1s ease;

          .ce-block__content {
            h1, h2, h3, h4, h5, h6 { margin: 0; }

            .mind-elixir {
              .map-container {
                toolbar {
                  .lt {
                    width: 40px !important;
                  }
                }
              }
            }
          }
        }
      }

      .ce-toolbar__actions {
        top: 15px;

        .ce-settings {
          .ce-settings__plugin-zone {
            .cdx-quote-settings {
              opacity: 0;
              height: 1px;
              margin-top: -4px;
              pointer-events: none;
            }
          }
        }
      }
    }

    &.colors {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            &.paragraph { background-color: rgba($paragraph, $blockBGgOpacity); }
            &.header { background-color: rgba($header, $blockBGgOpacity); }
            &.ordered-list { background-color: rgba($orderedList, $blockBGgOpacity); }
            &.checklist { background-color: rgba($checkList, $blockBGgOpacity); }
            &.delimiter { background-color: rgba($delimiter, $blockBGgOpacity); }
            &.code { background-color: rgba($code, $blockBGgOpacity); }
            &.quote { background-color: rgba($quote, $blockBGgOpacity); }
            &.raw { background-color: rgba($raw, $blockBGgOpacity); }
            &.embed { background-color: rgba($embed, $blockBGgOpacity); }
            &.image { background-color: rgba($image, $blockBGgOpacity); }
          }
        }
      }
    }

    &.blocks {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            margin-bottom: 15px;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(#000000, 0.1);
          }
        }
      }
    }

    &.b-sans-1 { font-family: 'Montserrat', sans-serif; }
    &.b-sans-2 { font-family: 'Open+Sans', sans-serif; }
    &.b-sans-3 { font-family: 'Roboto', sans-serif; }
    &.b-serif-1 { font-family: 'Merriweather', serif; }
    &.b-serif-2 { font-family: 'PT+Serif', serif; }
    &.b-serif-3 { font-family: 'Crimson+Text', serif; }
    &.b-mono-1 { font-family: 'Courier+Prime', monospace; }
    &.b-mono-2 { font-family: 'Inconsolata', monospace; }
    &.b-mono-3 { font-family: 'Roboto+Mono', monospace; }
    &.b-size-small { font-size: 12px; }
    &.b-size-medium { font-size: 14px; }
    &.b-size-large { font-size: 16px; }

    &.h-sans-1 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Montserrat', sans-serif; }
    }
    &.h-sans-2 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Open+Sans', sans-serif; }
    }
    &.h-sans-3 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Roboto', sans-serif; }
    }
    &.h-serif-1 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Merriweather', serif; }
    }
    &.h-serif-2 {
      h1,h2,h3,h4,h5,h6 { font-family: 'PT+Serif', serif; }
    }
    &.h-serif-3 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Crimson+Text', serif; }
    }
    &.h-mono-1 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Courier+Prime', monospace; }
    }
    &.h-mono-2 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Inconsolata', monospace; }
    }
    &.h-mono-3 {
      h1,h2,h3,h4,h5,h6 { font-family: 'Roboto+Mono', monospace; }
    }
    &.h-size-small {
      h1,h2,h3,h4,h5,h6 { font-size: 18px; }
    }
    &.h-size-medium {
      h1,h2,h3,h4,h5,h6 { font-size: 24px; }
    }
    &.h-size-large {
      h1,h2,h3,h4,h5,h6 { font-size: 32px; }
    }

    &.pre-mono-1 {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-family: 'Courier+Prime', monospace;
            }
          }
        }
      }
    }
    &.pre-mono-2 {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-family: 'Inconsolata', monospace;
            }
          }
        }
      }
    }
    &.pre-mono-3 {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-family: 'Roboto+Mono', monospace;
            }
          }
        }
      }
    }
    &.pre-size-small {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-size: 12px;
            }
          }
        }
      }
    }
    &.pre-size-medium {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-size: 14px;
            }
          }
        }
      }
    }
    &.pre-size-large {
      .codex-editor {
        .codex-editor__redactor {
          .ce-block {
            textarea {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .ct {
    font-family: 'Roboto', sans-serif !important;
  }

  .buttons-toolbar {
    position: absolute;
    right: 16px;
  }
</style>
