<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-card class="mx-auto">
      <v-card-title class="title font-weight-regular">
        <span>{{ $t('app.editor.chapters.settings') }}</span>
      </v-card-title>

      <v-divider />

      <v-card-text class="pt-5">
        <v-form
          ref="form"
          v-model="valid"
          :lazy-validation="lazy"
        >
          <v-text-field
            v-model="chapterData.title"
            :rules="titleRules"
            :counter="30"
            :label="$t('app.editor.bookSettings.title')"
            required
          />

          <v-textarea
            v-model="chapterData.abstract"
            :label="$t('app.editor.bookSettings.abstract')"
          />
        </v-form>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />

        <v-btn color="primary" :disabled="!valid" @click="saveAndCloseModal">
          {{ $t('shared.save') }}
        </v-btn>

        <v-btn @click="closeModal">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    open: Boolean,
    chapterData: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      valid: true,
      lazy: false,
      titleRules: [
        v => !!v || 'Title is required',
        v => (v && v.length <= 30) || 'Title must be less than 30 characters'
      ]
    }
  },
  methods: {
    saveAndCloseModal () {
      this.$emit('onChaptersSettingsModalSaveAndClose', this.chapterData)
    },
    closeModal () {
      this.$emit('onChaptersSettingsModalClose')
    }
  }
}
</script>
