<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-sheet color="white">
      <v-alert
        prominent
        border="top"
        colored-border
        type="warning"
        icon="mdi-alert-circle"
        class="mb-0"
      >
        <v-row align="center" class="ml-1">
          <v-col>
            <span class="font-weight-black">{{ $t('app.shared.deleteSure') }}</span> {{ $t('app.shared.deleteLost') }}
          </v-col>
        </v-row>

        <v-row align="center" class="ml-1">
          <v-col>
            <v-btn color="warning" :loading="isDeleting" @click="deleteBook">
              {{ $t('app.shared.deleteBook') }}
            </v-btn>
          </v-col>
          <v-col class="text-right">
            <v-btn @click="closeModal">
              {{ $t('shared.cancel') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-sheet>
  </v-dialog>
</template>

<script>
export default {
  // props: ['open', 'bookID'],
  props: {
    open: {
      type: Boolean,
      default: false
    },
    bookID: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      isDeleting: false
    }
  },
  methods: {
    closeModal () {
      this.$emit('onModalClose')
    },
    deleteBook () {
      this.isDeleting = true
      this.$store.dispatch('modules/books/deleteBookByID', this.bookID)
      this.isDeleting = false
      this.closeModal()
    }
  }
}
</script>
