<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-card class="mx-auto">
      <v-card-title class="title font-weight-regular">
        <v-avatar color="primary lighten-2" class="subheading white--text mr-3" size="24" v-text="step" />
        <span>{{ currentTitle }}</span>
      </v-card-title>

      <v-window v-model="step">
        <v-window-item :value="1">
          <v-card-text>
            <v-text-field v-model="newBookTitle" label="Title" />
            <span class="caption grey--text text--darken-1">
              {{ $t('app.shared.bookTitle') }}
            </span>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="2">
          <v-card-text>
            <v-select
              v-model="newBookLicense"
              :items="availableLicenses"
              item-text="data.text"
              item-value="id"
              :label="$t('app.shared.license')"
            />
            <span class="caption grey--text text--darken-1">
              {{ $t('app.shared.bookLicense') }}<br>Info: <a href="https://creativecommons.org" target="blank">creativecommons.org</a>
            </span>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="3">
          <v-card-text>
            <v-textarea v-model="newBookAbstract" label="Abstract" />
            <span class="caption grey--text text--darken-1">
              {{ $t('app.shared.bookSummary') }}
            </span>
          </v-card-text>
        </v-window-item>
      </v-window>

      <v-divider />

      <v-card-actions class="py-5">
        <v-btn small :disabled="step === 1" color="primary" outlined @click="step--">
          <v-icon left>
            mdi-chevron-left
          </v-icon>
          <span class="d-none d-sm-flex">{{ $t('shared.back') }}</span>
        </v-btn>

        <v-btn small :disabled="step === numSteps" color="primary" outlined @click="step++">
          <span class="d-none d-sm-flex">{{ $t('shared.next') }}</span>
          <v-icon right>
            mdi-chevron-right
          </v-icon>
        </v-btn>

        <v-spacer />

        <v-btn small :disabled="step < numSteps" color="primary" @click="createNewBook">
          <v-icon left>
            mdi-file-plus
          </v-icon>
          <span class="d-none d-sm-flex">{{ $t('app.shared.createBook') }}</span>
        </v-btn>

        <v-btn small text @click="closeModal">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    open: Boolean
  },
  data () {
    return {
      step: 1,
      numSteps: 3
    }
  },
  computed: {
    currentTitle () {
      switch (this.step) {
        case 1: return this.$t('app.shared.pickTitle')
        case 2: return this.$t('app.shared.chooseCC')
        case 3: return this.$t('app.shared.abstract')
        default: return '---'
      }
    },
    ...mapGetters('modules/books', ['availableLicenses']),
    ...mapGetters('modules/user', ['user', 'userMeta']),
    ...mapFields({
      newBookTitle: 'modules.books.newBookTemplate.title',
      newBookAuthor: 'modules.books.newBookTemplate.author',
      newBookLicense: 'modules.books.newBookTemplate.license',
      newBookAbstract: 'modules.books.newBookTemplate.abstract'
    })
  },
  mounted () {
    this.$store.dispatch('modules/books/getAvailableLicenses')
    this.$store.commit('modules/books/SET_NEW_BOOK_AUTHOR', this.user.uid)
  },
  methods: {
    closeModal () {
      this.$emit('onModalClose')
      this.step = 1
    },
    createNewBook () {
      this.$store.dispatch('modules/books/createNewBook')
      this.$store.commit('modules/books/RESET_NEW_BOOK_DATA')
      this.closeModal()
      this.$store.dispatch('modules/books/getUserBooks', this.user.uid)
    }
  }
}
</script>
