<template>
  <v-dialog
    v-model="partialSyncDialog"
    scrollable
    fullscreen
  >
    <v-card height="100vh" style="overflow: scroll">
      <v-toolbar max-height="64" dark color="primary">
        <v-btn icon dark @click="closeModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ $t('group.syncPage') }}</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items v-if="selected">
          <v-btn
            :loading="isSaving"
            :disabled="isSaving"
            dark
            text
            @click="selected = []"
          >
            {{ $t('shared.reset') }}
          </v-btn>
          <v-btn
            :loading="isSaving"
            :disabled="isSaving"
            dark
            text
            @click="syncBook()"
          >
            {{ $t('shared.save') }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container v-if="diffBook">
        <v-row v-for="chapter in diffBook.data.chapters" :key="chapter.uuid" class="border-bottom">
          <v-col cols="6">
            <div class="pt-5">
              <div class="title">
                {{ chapter.title }}
              </div>
              <v-sheet v-for="block in chapter.content.blocks" :key="block.timestamp" class="lighten-4 pa-2 mb-2" :class="chapter.clone ? 'red' : 'grey'">
                {{ block.data.text }}
              </v-sheet>
            </div>
          </v-col>
          <v-col cols="6">
            <div v-if="chapter.clone" style="position: relative" class="pt-5">
              <div class="title">
                {{ chapter.clone.title }}
              </div>
              <v-sheet v-for="block in chapter.clone.content.blocks" :key="block.timestamp" class="green lighten-4 pa-2 mb-2">
                {{ block.data.text }}
              </v-sheet>
              <div class="actionsBtns">
                <div v-if="chapter.isNew">
                  <v-chip
                    class="ma-2"
                    color="green"
                    text-color="white"
                  >
                    {{ $t('app.editor.chapters.add') }}
                  </v-chip>
                </div>
                <div v-else>
                  <v-checkbox v-model="selected" class="mt-2" label="Sync this chapter" :value="chapter.uuid" />
                </div>
              </div>
            </div>
            <div v-else class="pt-5">
              <div>
                <div class="title">
                  {{ chapter.title }}
                </div>
                <v-sheet v-for="block in chapter.content.blocks" :key="block.timestamp" class="grey lighten-4 pa-2 mb-2">
                  {{ block.data.text }}
                </v-sheet>
              </div>
            </div>
          </v-col>
          <v-col class="subchapter" cols="12">
            <v-row v-for="child in chapter.children" :key="child.uuid">
              <v-col cols="6">
                <div class="pt-5">
                  <div class="title">
                    {{ child.title }}
                  </div>
                  <v-sheet v-for="block in child.content.blocks" :key="block.timestamp" class="lighten-4 pa-2 mb-2" :class="child.clone ? 'red' : 'grey'">
                    {{ block.data.text }}
                  </v-sheet>
                </div>
              </v-col>
              <v-col cols="6">
                <div v-if="child.clone" style="position: relative" class="pt-5">
                  <div class="title">
                    {{ child.clone.title }}
                  </div>
                  <v-sheet v-for="block in child.clone.content.blocks" :key="block.timestamp" class="green lighten-4 pa-2 mb-2">
                    {{ block.data.text }}
                  </v-sheet>
                  <div class="actionsBtns">
                    <div v-if="child.isNew">
                      <v-chip
                        class="ma-2"
                        color="green"
                        text-color="white"
                      >
                        {{ $t('app.editor.chapters.addSub') }}
                      </v-chip>
                    </div>
                    <div v-else>
                      <v-checkbox v-model="selected" class="mt-2" label="Sync this subchapter" :value="child.uuid" />
                    </div>
                  </div>
                </div>
                <div v-else class="pt-5">
                  <div>
                    <div class="title">
                      {{ child.title }}
                    </div>
                    <v-sheet v-for="block in child.content.blocks" :key="block.timestamp" class="grey lighten-4 pa-2 mb-2">
                      {{ block.data.text }}
                    </v-sheet>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    partialSyncDialog: Boolean,
    partialSyncBook: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      diffBookClone: null,
      selected: [],
      isSaving: false
    }
  },
  computed: {
    ...mapGetters('modules/books', [
      'diffBook'
    ])
  },
  mounted () {
    this.$store.dispatch('modules/books/setDiffBookForPartialSync', { book: this.partialSyncBook, id: this.partialSyncBook.data.originalId })
  },
  methods: {
    closeModal () {
      this.$emit('closePartialSyncModal')
    },
    syncBook () {
      const book = JSON.parse(JSON.stringify(this.partialSyncBook))
      const selected = this.selected
      const full = selected.length === this.diffBook.data.partials
      this.$store.dispatch('modules/books/syncBook', { full, book, selected }).then((error) => {
        if (error) {
          this.$emit('closePartialSyncModal')
          this.$toast.global.sbc_error({ message: this.$t('group.syncFailed') })
        } else {
          this.$emit('closePartialSyncModal')
          this.$toast.global.sbc_success({ message: this.$t('group.syncOk') })
        }
      })
    }
  }
}
</script>

<style scoped>
.border-bottom {
  border-bottom: 1px solid dimgray;
}
.actionsBtns {
  position: absolute;
  top: 10px;
  right: 0;
}
.container div:last-child {
  border-bottom: none;
}
</style>
