<template>
  <v-dialog v-model="syncDialog" persistent max-width="600">
    <v-card class="mx-auto">
      <v-card-title class="title font-weight-regular">
        <span>{{ $t('group.masterBookUpdated') }}</span>
      </v-card-title>

      <v-divider />

      <v-card-text class="pt-4">
        {{ $t('group.alertBeforeSync') }}
      </v-card-text>

      <v-card-actions class="d-flex justify-space-between">
        <div>
          <v-btn color="primary" @click="syncBook(true)">
            {{ $t('group.completeSync') }}
          </v-btn>
          <v-btn color="primary" @click="openPartialSyncModal">
            {{ $t('group.partialSync') }}
          </v-btn>
        </div>

        <v-btn small text @click="closeModal">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    syncDialog: Boolean,
    book: {
      type: Object,
      default: null
    }
  },
  methods: {
    closeModal () {
      this.$emit('onModalClose')
    },
    openPartialSyncModal () {
      this.$emit('openPartialSyncModal')
    },
    syncBook (full) {
      const book = JSON.parse(JSON.stringify(this.book))
      this.$store.dispatch('modules/books/syncBook', { full, book }).then((error) => {
        if (error) {
          this.$emit('onModalClose')
          this.$toast.global.sbc_error({ message: this.$t('group.syncFailed') })
        } else {
          this.$emit('onModalClose')
          this.$toast.global.sbc_success({ message: this.$t('group.syncOk') })
        }
      })
    }
  }
}
</script>
