<template>
  <div
    class="column-drawer primary"
    :style="{ width: w + 'px' }"
    @mousedown="mouseDown(index, $event)"
  >
    <h6 class="drawer-label white--text subtitle-2 pt-1">
      <v-icon class="drawer-label-icon" color="white">
        mdi-drag
      </v-icon>
      <v-icon class="drawer-label-icon" color="white" @click="expandColumn(index, $event)">
        mdi-arrow-expand-horizontal
      </v-icon>
      {{ getLabelTranslation }}
    </h6>
  </div>
</template>

<script>
export default {
  // props: ['index', 'label', 'w'],
  props: {
    index: { type: Number, default: null },
    label: { type: String, default: null },
    w: { type: Number, default: null }
  },
  data () {
    return {
      startX: 0,
      endX: 0
    }
  },
  computed: {
    getLabelTranslation () {
      const currentLocale = this.$store.state.i18n.locale

      switch (this.label) {
        case 'Editor':
          return this.$store.state.i18n.translations[currentLocale]['components.columnDrawer.editor']
        case 'Preview':
          return this.$store.state.i18n.translations[currentLocale]['components.columnDrawer.preview']
        case 'Chapters':
          return this.$store.state.i18n.translations[currentLocale]['components.columnDrawer.chapters']
        case 'Settings':
          return this.$store.state.i18n.translations[currentLocale]['components.columnDrawer.settings']
      }

      return this.label
    }
  },
  methods: {
    expandColumn (which, e) {
      this.$emit('onDrawerExpandColumn', which)
    },
    mouseDown (which, e) {
      if (e.pageX) {
        this.startX = e.pageX
      } else if (e.clientX) {
        this.startX = e.clientX
      }

      this.$emit('onDrawerMouseDown', {
        index: which,
        startX: this.startX
      })

      document.body.onmousemove = (e) => {
        if (e.pageX) {
          this.endX = e.pageX
        } else if (e.clientX) {
          this.endX = e.clientX
        }

        this.$emit('onDrawerMouseMove', {
          index: which,
          deltaX: this.endX - this.startX
        })
      }

      document.body.onmouseup = () => {
        document.body.onmousemove = document.body.onmouseup = null
        this.$emit('onDrawerMouseUp', {
          index: which,
          deltaX: this.endX - this.startX
        })
      }
    }
  }
}
</script>

<style lang="scss">
  .column-drawer {
    float: left;
    height: 100%;
    cursor: col-resize;

    .drawer-label {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      width: 100%;
      height: 100%;
      user-select: none;
      border-left: 1px solid rgba(white, 0.25);

      .drawer-label-icon {
        position: relative;
        right: 3px;
        transform: scale(0.75);

        &:hover {
          opacity: 0.25;
        }
      }
    }
  }
</style>
