<template>
  <v-menu>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-avatar>
          <v-icon v-text="'mdi-translate'" />
        </v-avatar>
      </v-btn>
    </template>

    <v-list class="pa-0">
      <v-list-item-group
        :value="currentLocaleIndex"
        :multiple="multiple"
        :mandatory="mandatory"
        color="primary"
      >
        <v-list-item
          v-for="(locale, i) in availableLocales"
          :key="locale"
          @click="changeLanguage(locale, i)"
        >
          <v-list-item-content>
            <v-list-item-title v-text="locale" />
          </v-list-item-content>

          <v-list-item-icon>
            <flag-widget :locale="locale" />
          </v-list-item-icon>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
import { mapGetters } from 'vuex'

import FlagWidget from '@/components/shared/FlagWidget'

export default {
  components: { FlagWidget },
  data: () => ({
    multiple: false,
    mandatory: false
  }),
  computed: {
    availableLocales () {
      return this.$i18n.locales()
      // return this.$i18n.locales().filter((locale) => {
      //   return locale !== this.$i18n.locale();
      // })
    },
    ...mapGetters('modules/app', [
      'currentLocaleIndex'
    ])
  },
  methods: {
    changeLanguage (newLocale, index) {
      this.$i18n.set(newLocale)
      this.$store.commit('modules/app/SET_CURRENT_LOCALE_INDEX', index)
    }
  }
}
</script>
