<template>
  <v-app-bar app dark color="primary">
    <nuxt-link to="/">
      <v-img
        class="mr-3"
        :src="require('../../assets/images/logo.svg')"
        max-height="40"
        max-width="40"
        contain
      />
    </nuxt-link>

    <v-toolbar-title>
      <nuxt-link id="appTitleLink" to="/" class="white--text">
        <span class="title">
          Social Books Creator
        </span>
      </nuxt-link>
    </v-toolbar-title>

    <v-spacer />

    <v-toolbar-items v-if="showBtn && $vuetify.breakpoint.smAndUp">
      <v-btn text to="/app/book-shelf" nuxt>
        <v-icon left>
          mdi-book
        </v-icon>

        {{ $t('components.mainNav.bookShelf') }}
      </v-btn>

      <v-divider class="mx-4" vertical />

      <user-nav-widget />

      <lang-switcher />

      <notifications-widget />

      <v-divider class="mx-4" vertical />

      <v-app-bar-nav-icon @click.stop="toggleDrawer" />
    </v-toolbar-items>

    <v-toolbar-items v-else>
      <v-btn text to="/app/book-shelf" nuxt>
        <v-icon>mdi-book</v-icon>
      </v-btn>

      <user-nav-widget />

      <lang-switcher />

      <v-app-bar-nav-icon @click.stop="toggleDrawer" />
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex'

import UserNavWidget from '@/components/auth/UserNavWidget'
import LangSwitcher from '@/components/navigation/LangSwitcher'
import NotificationsWidget from '@/components/navigation/NotificationsWidget'

export default {
  components: { UserNavWidget, LangSwitcher, NotificationsWidget },
  data () {
    return {
      showBtn: false
    }
  },
  computed: {
    ...mapGetters('modules/app', [
      'drawer'
    ])
  },
  mounted () {
    this.showBtn = true
  },
  methods: {
    toggleDrawer () {
      this.$store.commit('modules/app/TOGGLE_DRAWER')
    }
  }
}
</script>

<style lang="scss" scoped>
 #appTitleLink {
   text-decoration: none;
 }
</style>
