<template>
  <v-menu v-if="uid">
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-badge
          v-if="notifications"
          color="red"
          overlap
          offset-x="20"
          offset-y="20"
          dot
          :value="getActiveNotifications()"
        >
          <v-avatar>
            <v-icon v-text="'mdi-bell'" />
          </v-avatar>
        </v-badge>
      </v-btn>
    </template>

    <v-list v-if="notifications" dense max-height="400" two-line subheader>
      <v-subheader>
        {{ $t('components.notifications.yourNotifications') }}
      </v-subheader>
      <v-list-item
        v-for="notification in notifications"
        :key="notification.id"
        class="white"
        :disabled="notification.data.viewed"
        @click="goTo(notification)"
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('components.notifications.'+notification.data.type, { text: notification.data.text }) }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ getDate(notification.data.time) }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-btn icon>
            <v-icon color="grey lighten-1">
              mdi-arrow-right-bold-outline
            </v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      <v-list-item v-if="!notifications.length">
        {{ $t('components.notifications.noNotifications') }}
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('modules/user', [
      'uid',
      'notifications'
    ])
  },
  mounted () {
    this.$store.dispatch('modules/user/getInAppNotifications', this.uid)
  },
  methods: {
    getDate (d) {
      const date = new Date(d)
      return date.toLocaleString()
    },
    goTo (notification) {
      this.$store.dispatch('modules/user/setInAppNotificationViewed', notification.id).then(() => {
        this.$router.push(notification.data.url)
      })
    },
    getActiveNotifications () {
      return this.notifications.some(notification => notification.data.viewed === false)
    }
  }
}
</script>

<style scoped>
.bg-white {
    background: white;
}
</style>
