<template>
  <v-app-bar app light flat color="white" class="primary--text">
    <v-toolbar-title>
      <nuxt-link id="appTitleLink" to="/">
        <span class="title">
          Social Books Cooperative Press
        </span>
      </nuxt-link>
    </v-toolbar-title>

    <v-spacer />

    <v-toolbar-items>
      <v-btn text to="/auth/login" nuxt>
        {{ $t('shared.login') }}
      </v-btn>

      <lang-switcher />
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import LangSwitcher from '@/components/navigation/LangSwitcher'

export default {
  components: { LangSwitcher }
}
</script>

<style lang="scss" scoped>
 #appTitleLink {
   text-decoration: none;
 }
</style>
