<template>
  <div v-if="currentBook" id="editor" ref="editor" v-resize="onResize">
    <v-btn
      color="primary"
      x-large
      absolute
      top
      center
      class="saveAll"
      elevation="6"
      :loading="isSaving"
      :disabled="isSaving"
      @click="saveBook"
    >
      <v-icon>mdi-content-save</v-icon>&nbsp;{{ $t('shared.save') }}
    </v-btn>
    <div
      v-for="(column, index) in columns"
      :id="column.id"
      :key="column.id"
      class="editor-column"
      :style="{ width: column.width + 'px' }"
    >
      <column-drawer
        :index="index"
        :label="column.drawerLabel"
        :w="drawerWidth"
        @onDrawerExpandColumn="drawerExpandColumn"
        @onDrawerMouseDown="drawerMouseDown"
        @onDrawerMouseMove="drawerMouseMove"
        @onDrawerMouseUp="drawerMouseUp"
      />

      <div
        class="editor-column-content"
        :style="{ width: column.content.width + 'px', padding: column.content.padding + 'px' }"
      >
        <!-- <component :is="column.content.component" v-if="currentBook" :ref="column.content.id" /> -->
        <client-only>
          <book-layout v-if="index === 0" ref="bookLayoutComponent" :is-owner="false" />
          <book-preview v-if="index === 1" />
          <book-chapters v-if="index == 2" :is-owner="false" @chapterSelected="onChapterSelected" />
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ColumnDrawer from '~/components/navigation/ColumnDrawer'
import BookChapters from '~/components/app/BookChapters'
// import BookSettingsForm from '~/components/app/BookSettingsForm'

export default {
  components: {
    ColumnDrawer,
    BookLayout: () => {
      if (process.client) {
        return import('@/components/app/BookLayout')
      }
    },
    BookChapters,
    BookPreview: () => {
      if (process.client) {
        return import('@/components/app/BookPreview')
      }
    }
  },
  layout: 'protected',
  data () {
    return {
      isSaving: false,
      isOwner: false
    }
  },
  computed: {
    ...mapGetters('modules/books', [
      'currentBook'
    ]),
    ...mapGetters('modules/editor', [
      'columns',
      'drawerWidth'
    ])
  },
  created () {
    this.$store.dispatch('modules/books/getCurrentBookClone', { id: this.$route.params.id })
    // this.$store.commit('modules/editor/SET_CONTRIBUTOR_COLUMNS')
  },
  methods: {
    onResize () {
      this.$store.commit('modules/editor/INIT_COLUMNS', this.$refs.editor.clientWidth)
    },
    drawerExpandColumn (value) {
      for (let columnIndex = 0; columnIndex < this.columns.length; columnIndex++) {
        if (columnIndex === value) {
          this.$store.commit('modules/editor/EXPAND_COLUMNS', { offset: this.drawerWidth * 2, index: columnIndex })
        } else {
          this.$store.commit('modules/editor/COLLAPSE_COLUMNS', columnIndex)
        }
      }
    },
    drawerMouseDown (value) {
      if (value.index === 0) { return }
      this.$store.commit('modules/editor/DRAWER_MOUSE_DOWN', value)
    },
    drawerMouseMove (value) {
      this.$store.commit('modules/editor/DRAWER_MOUSE_MOVE', value)
    },
    drawerMouseUp (value) {
      // console.log(value)
    },
    onChapterSelected (value) {
      this.$refs.bookLayoutComponent[0].updateEditorContent(value)
    },
    saveBook () {
      this.isSaving = true
      if (!this.currentBook.data.originalId) {
        this.isOwner = true
      }
      this.$refs.bookLayoutComponent[0].editorInstance.save().then((outputData) => {
        // console.log(outputData)
        this.$store.commit('modules/books/SYNC_CHAPTERS_CONTENT', { outputData, isOwner: this.isOwner })
        const dispatchPath = this.isOwner ? 'modules/books/updateChapters' : 'modules/books/updateChaptersContributor'
        this.$store.dispatch(dispatchPath).then((error) => {
          this.isSaving = false

          if (error) {
            this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
          } else {
            this.$toast.global.sbc_success({ message: this.$t('shared.greatSaved') })
            this.$store.commit('modules/books/CAN_UPDATE_PDF', true)
          }
        })
      }).catch((error) => {
        this.isSaving = false
        console.warn(error)
        this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  #editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .editor-column {
      position: relative;
      float: left;
      height: 100%;
      overflow: hidden;

      .editor-column-content {
        position: relative;
        float: left;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }

  #bookSettings{
    display: none;
  }

  .saveAll {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
    }
</style>
