<template>
  <div>
    <v-card v-if="this.$route.query.mode === 'verifyEmail'" :loading="isVerifying" class="elevation-12">
      <v-card-text>
        <v-alert
          v-if="isVerifying"
          class="mt-5"
          type="info"
          border="left"
          colored-border
          elevation="2"
        >
          <v-row align="center">
            <v-col class="grow">
              {{ $t('pages.emailLanding.verifyingAddress') }}
            </v-col>
          </v-row>
        </v-alert>

        <v-alert
          v-if="!isVerifying && verifySuccess"
          class="mt-5"
          type="success"
          border="left"
          colored-border
          elevation="2"
        >
          <v-row align="center">
            <v-col class="grow">
              {{ $t('pages.emailLanding.emailVerified') }}
            </v-col>
          </v-row>
        </v-alert>

        <v-alert
          v-if="!isVerifying && !verifySuccess"
          class="mt-5"
          type="error"
          border="left"
          colored-border
          elevation="2"
        >
          <v-row align="center">
            <v-col class="grow">
              {{ $t('pages.emailLanding.emailVerificationeError') }} {{ verifyErrorText }}.
            </v-col>
          </v-row>
        </v-alert>
      </v-card-text>
    </v-card>

    <confirm-password-reset-form v-if="this.$route.query.mode === 'resetPassword'" />
  </div>
</template>

<script>
import ConfirmPasswordResetForm from '~/components/auth/ConfirmPasswordResetForm'

export default {
  layout: 'auth',
  components: {
    ConfirmPasswordResetForm
  },
  data () {
    return {
      isVerifying: true,
      verifySuccess: null,
      verifyErrorText: 'Please try again later'
    }
  },
  mounted () {
    if (this.$route.query.mode === 'verifyEmail') {
      this.verifyEmail()
    }
  },
  methods: {
    async verifyEmail () {
      try {
        await this.$store.dispatch('modules/user/verifyEmail', this.$route.query.oobCode)

        this.isVerifying = false
        this.verifySuccess = true
        this.$store.commit('modules/user/SET_EMAIL_VERIFIED')
        this.$toast.global.sbc_success({ message: 'Email verified' })
        setTimeout(() => {
          this.$router.push('/')
        }, 3000)
      } catch (error) {
        this.isVerifying = false
        this.verifySuccess = false
        this.verifyErrorText = error.message
        this.$toast.global.sbc_error(error)
      }
    }
  }
}
</script>
