<template>
  <login-form />
</template>

<script>
import LoginForm from '~/components/auth/LoginForm'

export default {
  components: {
    LoginForm
  },
  layout: 'auth',
  middleware: ['handle-login-route']
}
</script>
