<template>
  <reset-password-form />
</template>

<script>
import ResetPasswordForm from '~/components/auth/ResetPasswordForm'

export default {
  layout: 'auth',
  components: {
    ResetPasswordForm
  }
}
</script>
