<template>
  <div v-if="currentBook" id="editor" ref="editor" v-resize="onResize">
    <v-toolbar
      dense
      flat
      dark
      elevation="3"
      color="primary"
      style="z-index: 2;"
    >
      <v-btn
        fab
        icon
        x-small
        class="ml-2"
        to="/app/book-shelf"
        nuxt
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>{{ currentBook.data.title }}</v-toolbar-title>

      <v-spacer />

      <v-btn
        small
        light
        elevation="1"
        :loading="isSaving"
        :disabled="isSaving"
        @click="saveBook"
      >
        <v-icon>mdi-content-save</v-icon>&nbsp;{{ $t('shared.save') }}
      </v-btn>

      <v-spacer />

      <v-menu>
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                small
                light
                v-bind="attrs"
                elevation="1"
                :loading="currentBook.id === pdfIsBuilding"
                v-on="{ ...tooltip, ...menu }"
              >
                <v-icon>mdi-file-pdf-outline</v-icon>&nbsp;Get your book!
              </v-btn>
            </template>

            <span>Open, download or print your PDF file</span>
          </v-tooltip>
        </template>

        <v-list dense dark color="primary">
          <v-list-item-group>
            <v-list-item @click="getPDF('open')">
              <v-list-item-icon>
                <v-icon>
                  mdi-open-in-new
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title color="primary">
                  Open
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="getPDF('download')">
              <v-list-item-icon>
                <v-icon>mdi-file-download-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Download</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="getPDF('print')">
              <v-list-item-icon>
                <v-icon>mdi-printer</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Print</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </v-toolbar>

    <div
      v-for="(column, index) in columns"
      :id="column.id"
      :key="column.id"
      class="editor-column"
      :style="{ width: column.width + 'px' }"
    >
      <column-drawer
        :index="index"
        :label="column.drawerLabel"
        :w="drawerWidth"
        @onDrawerExpandColumn="drawerExpandColumn"
        @onDrawerMouseDown="drawerMouseDown"
        @onDrawerMouseMove="drawerMouseMove"
        @onDrawerMouseUp="drawerMouseUp"
      />

      <div
        class="editor-column-content"
        :style="{ width: column.content.width + 'px', padding: column.content.padding + 'px' }"
      >
        <client-only>
          <book-layout v-if="index === 0" ref="bookLayoutComponent" />
          <book-preview v-if="index === 1" />
          <book-chapters
            v-if="index == 2"
            @chapterSelected="onChapterSelected"
            @subChapterSelected="onSubChapterSelected"
          />
          <book-settings-form v-if="index === 3" />
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import ColumnDrawer from '~/components/navigation/ColumnDrawer'
import BookChapters from '~/components/app/BookChapters'
import BookSettingsForm from '~/components/app/BookSettingsForm'

import { download } from '~/assets/js/pdf-maker'

export default {
  components: {
    ColumnDrawer,
    BookLayout: () => {
      if (process.client) {
        return import('@/components/app/BookLayout')
      }
    },
    BookChapters,
    BookSettingsForm,
    BookPreview: () => {
      if (process.client) {
        return import('@/components/app/BookPreview')
      }
    }
  },
  data () {
    return {
      isSaving: false,
      isOwner: false,
      item: 1,
      items: [
        { text: 'Real-Time', icon: 'mdi-clock' },
        { text: 'Audience', icon: 'mdi-account' },
        { text: 'Conversions', icon: 'mdi-flag' }
      ]
    }
  },
  layout: 'protected',
  computed: {
    ...mapGetters('modules/books', [
      'currentBook'
    ]),
    ...mapGetters('modules/editor', [
      'columns',
      'drawerWidth'
    ]),
    ...mapGetters('modules/pdf', ['pdfIsBuilding'])
  },
  created () {
    this.$store.dispatch('modules/books/getCurrentBook', { id: this.$route.params.id })
  },
  methods: {
    onResize () {
      this.$store.commit('modules/editor/INIT_COLUMNS', this.$refs.editor.clientWidth)
    },
    drawerExpandColumn (value) {
      for (let columnIndex = 0; columnIndex < this.columns.length; columnIndex++) {
        if (columnIndex === value) {
          this.$store.commit('modules/editor/EXPAND_COLUMNS', { offset: this.drawerWidth * 3, index: columnIndex })
        } else {
          this.$store.commit('modules/editor/COLLAPSE_COLUMNS', columnIndex)
        }
      }
    },
    drawerMouseDown (value) {
      if (value.index === 0) { return }
      this.$store.commit('modules/editor/DRAWER_MOUSE_DOWN', value)
    },
    drawerMouseMove (value) {
      this.$store.commit('modules/editor/DRAWER_MOUSE_MOVE', value)
    },
    drawerMouseUp (value) {
      // console.log(value)
    },
    onChapterSelected (value) {
      this.$refs.bookLayoutComponent[0].updateEditorContent(value)
    },
    onSubChapterSelected (value) {
      this.$refs.bookLayoutComponent[0].updateEditorSubContent(value)
    },
    saveBook () {
      this.isSaving = true

      if (!this.currentBook.data.originalId) {
        this.isOwner = true
      }

      this.$refs.bookLayoutComponent[0].editorInstance.save().then((outputData) => {
        this.$store.commit('modules/books/SYNC_CHAPTERS_CONTENT', { outputData, isOwner: this.isOwner })
        const dispatchPath = this.isOwner ? 'modules/books/updateChapters' : 'modules/books/updateChaptersContributor'

        this.$store.dispatch(dispatchPath).then((error) => {
          this.isSaving = false

          if (error) {
            this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
          } else {
            this.$toast.global.sbc_success({ message: this.$t('shared.greatSaved') })
            this.$store.commit('modules/books/CAN_UPDATE_PDF', true)
          }
        })
      }).catch((error) => {
        this.isSaving = false
        console.warn(error)
        this.$toast.global.sbc_error({ message: this.$t('shared.savingFail') })
      })
    },
    getPDF (type) {
      download(this.currentBook, this.$store, type)
    }
  }
}
</script>

<style lang="scss">
  #editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    // height: 100%;

    .editor-column {
      position: relative;
      float: left;
      height: 100%;
      overflow: hidden;

      .editor-column-content {
        position: relative;
        float: left;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
      }
    }

    .saveAll {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
    }
  }
</style>
