// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$white: #ffffff;
$primary: #42AB3D;
$secondary: #8bc0dd;

.sbc-toasted-container {
  max-width: 350px;
  font-family: 'Roboto', sans-serif;

  .sbc-toasted-content {
    font-weight: 500 !important;
    padding: 15px 20px;

    .mdi {
      margin: 0;
      margin-right: 15px;
      font-size: 30px;
    }

    .action {
      color: #ffffff !important;
      padding: 0;
      margin: 0;
      margin-left: 15px;
      font-size: 0.7rem !important;
    }
  }
}

// Layout transitions
.layout-enter-active, .layout-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.layout-enter, .layout-leave-active {
  opacity: 0;
}

// Page transitions
.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

// Fade transitions
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
