<template>
  <v-row no-gutters>
    <v-col cols="12" sm="12" md="12">
      <h1>
        Dashboard
      </h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'protected'
}
</script>
