<template>
  <v-row no-gutters>
    <v-col cols="12" sm="12" md="12">
      <group-list />
      <invitations-widget />
    </v-col>
  </v-row>
</template>

<script>
import GroupList from '@/components/profile/groups-tab/groupList'
import InvitationsWidget from '@/components/profile/user-info-tab/InvitationsWidget'

export default {
  layout: 'protected',
  components: { GroupList, InvitationsWidget }
}
</script>
