<template>
  <v-row no-gutters>
    <v-col cols="12" sm="8" md="8">
      <personal-data-form />
      <organization-widget />
      <!-- <invitations-widget /> -->
    </v-col>

    <v-col cols="12" sm="8" md="4">
      <avatar-widget />
      <preferences-widget />
      <privacy-widget />
    </v-col>
  </v-row>
</template>

<script>
import PersonalDataForm from '@/components/profile/user-info-tab/PersonalDataForm'
import AvatarWidget from '@/components/profile/user-info-tab/AvatarWidget'
import OrganizationWidget from '@/components/profile/user-info-tab/OrganizationWidget'
import PreferencesWidget from '@/components/profile/user-info-tab/PreferencesWidget'
import PrivacyWidget from '@/components/profile/user-info-tab/PrivacyWidget'
// import InvitationsWidget from '@/components/profile/user-info-tab/InvitationsWidget'

export default {
  components: {
    PersonalDataForm,
    AvatarWidget,
    OrganizationWidget,
    PreferencesWidget,
    // PreferencesWidget: () => { if (process.client) { return import('@/components/profile/user-info-tab/PreferencesWidget') } },
    PrivacyWidget
    // InvitationsWidget
  },
  layout: 'protected',
  data () {
    return {
      loading: true
    }
  }
}
</script>
