<template>
  <v-app>
    <v-navigation-drawer
      :value="drawer"
      app
      @input="onDrawerInput"
    >
      <user-sidebar-widget />
    </v-navigation-drawer>

    <main-nav />

    <v-content>
      <v-container fluid class="px-7 py-5">
        <flashes />

        <v-row>
          <v-col cols="12">
            <transition name="fade" mode="out-in">
              <nuxt />
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import MainNav from '@/components/navigation/MainNav'
import UserSidebarWidget from '@/components/profile/UserSidebarWidget'
import Flashes from '@/components/shared/Flashes'

export default {
  components: { MainNav, UserSidebarWidget, Flashes },
  middleware: 'admin',
  computed: {
    ...mapGetters('modules/user', [
      'uid'
    ]),
    ...mapGetters('modules/app', [
      'drawer'
    ])
  },
  mounted () {
    this.$nextTick(() => {
      this.$store.dispatch('modules/user/setUSERMETA', this.uid)
    })
  },
  methods: {
    onDrawerInput (e) {
      this.$store.commit('modules/app/SYNC_DRAWER', e)
    }
  }
}
</script>
