<template>
  <v-app>
    <main-nav />

    <v-content>
      <v-container fluid class="fill-height px-7 py-5">
        <flashes />

        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="5" lg="4">
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import MainNav from '@/components/navigation/MainNav'
import Flashes from '@/components/shared/Flashes'

export default {
  components: { MainNav, Flashes }
}
</script>
