<template>
  <v-app>
    <main-nav />

    <v-content>
      <v-container fluid class="px-7 py-5">
        <flashes />

        <v-row>
          <v-col cols="12">
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import MainNav from '@/components/navigation/MainNav'
import Flashes from '@/components/shared/Flashes'

export default {
  components: { MainNav, Flashes }
}
</script>
