<template>
  <v-app>
    <v-navigation-drawer
      :value="drawer"
      app
      @input="onDrawerInput"
    >
      <user-sidebar-widget />
    </v-navigation-drawer>

    <main-nav />

    <v-content>
      <v-container fluid class="px-7 py-5">
        <flashes />

        <v-row>
          <v-col cols="12">
            <h1 v-if="error.statusCode === 404">
              {{ $t('errorPage.fourZeroFour') }}
            </h1>

            <h1 v-else>
              {{ $t('errorPage.genericError') }}
            </h1>

            <NuxtLink to="/">
              {{ $t('shared.homePage') }}
            </NuxtLink>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import MainNav from '@/components/navigation/MainNav'
import UserSidebarWidget from '@/components/profile/UserSidebarWidget'
import Flashes from '@/components/shared/Flashes'

export default {
  components: { MainNav, UserSidebarWidget, Flashes },
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'uid'
    ]),
    ...mapGetters('modules/app', [
      'drawer'
    ])
  },
  methods: {
    onDrawerInput (e) {
      this.$store.commit('modules/app/SYNC_DRAWER', e)
    }
  },
  head () {
    const title = this.error.statusCode === 404 ? this.$i18n.translate('errorPage.fourZeroFour') : this.$i18n.translate('errorPage.genericError')
    return { title }
  }
}
</script>
