<template>
  <v-app>
    <v-navigation-drawer
      :value="drawer"
      app
      @input="onDrawerInput"
    >
      <user-sidebar-widget />
    </v-navigation-drawer>

    <main-nav />

    <v-content>
      <v-container fluid class="px-7 py-5">
        <flashes />

        <v-row>
          <v-col cols="12">
            <transition name="fade" mode="out-in">
              <nuxt />
            </transition>
          </v-col>
        </v-row>
      </v-container>

      <!-- <v-btn @click="notificationsDialogOpen = true">
        notification dialog
      </v-btn> -->
    </v-content>

    <app-footer />

    <!-- <v-dialog v-model="notificationsDialogOpen" scrollable persistent max-width="400">
      <v-card>
        <v-card-title>Allow push notifications</v-card-title>

        <v-card-text>
          Lorem ipsum
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn
            text
            @click="notificationsDialogOpen = false"
          >
            Disagree
          </v-btn>

          <v-btn
            text
            @click="registerFCM"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import MainNav from '@/components/navigation/MainNav'
import UserSidebarWidget from '@/components/profile/UserSidebarWidget'
import Flashes from '@/components/shared/Flashes'
import AppFooter from '@/components/shared/AppFooter'
import firebaseApp from '~/firebase/app.js'

export default {
  components: { MainNav, UserSidebarWidget, Flashes, AppFooter },
  middleware: 'authenticated',
  data () {
    return {
      notificationsDialogOpen: false
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'uid'
    ]),
    ...mapGetters('modules/app', [
      'drawer'
    ])
  },
  mounted () {
    this.$nextTick(() => {
      this.$store.dispatch('modules/user/setUSERMETA', this.uid)
    })
    try {
      this.initFCM()
    } catch (err) {
      console.warn('FCM not supported')
    }
  },

  methods: {
    onDrawerInput (e) {
      this.$store.commit('modules/app/SYNC_DRAWER', e)
    },
    initFCM () {
      firebaseApp.messaging.onTokenRefresh(() => {
        firebaseApp.messaging.getToken().then((refreshedToken) => {
          // console.log('Token refreshed.')
          this.updateCfmToken(refreshedToken)
        })
      })
      firebaseApp.messaging.getToken().then((currentToken) => {
        if (currentToken) {
          this.updateCfmToken(currentToken)
          // console.log(currentToken)
        } else {
          console.log('No Instance ID token available. Request permission to generate one.')
          this.updateCfmToken('')
          this.notificationsDialogOpen = true
        }
      }).catch((err) => {
        console.log('An error occurred while retrieving token. ', err)
        this.updateCfmToken('')
        this.notificationsDialogOpen = true
      })

      firebaseApp.messaging.onMessage((payload) => {
        this.$toast.global.sbc_warning({ message: payload.notification.title })
      })
    },

    registerFCM () {
      this.notificationsDialogOpen = false
      firebaseApp.messaging.requestPermission()
        .then(() => {
          return firebaseApp.messaging.getToken()
        })
        .then((token) => {
          console.log(token)
          this.updateCfmToken(token)
        })
        .catch((error) => {
          console.log(error)
        })
    },

    async updateCfmToken (token) {
      try {
        await this.$store.dispatch('modules/user/updateFcmToken', token)
      } catch (error) {
        this.$toast.global.sbc_error(error)
      }
    }
  }
}
</script>
