<template>
  <v-card :class="{ 'ml-3': $vuetify.breakpoint.mdAndUp }" class="user-widget elevation-1 mb-6">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.avatarWidget.heading') }}</v-toolbar-title>
    </v-toolbar>

    <v-card-text v-if="user && userMeta">
      <v-img
        v-if="userMeta.avatar"
        :src="userMeta.avatar.secure_url"
        lazy-src="https://picsum.photos/id/11/10/6"
        aspect-ratio="1"
        class="grey lighten-2"
        max-width="500"
        max-height="300"
      />

      <v-divider class="my-4" />

      <v-form v-model="valid" :lazy-validation="lazy">
        <v-btn color="primary" @click="openCloudinaryWidget">
          {{ $t('shared.upload') }}
          <v-icon right v-text="'mdi-cloud-upload'" />
        </v-btn>

        <v-btn color="error" @click="unsetAvatar">
          {{ $t('shared.remove') }}
          <v-icon right v-text="'mdi-trash-can'" />
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      isSaving: false,
      valid: true,
      lazy: false,
      canEdit: false,
      uploadWidget: null,
      image: null
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'user',
      'userMeta'
    ])
  },
  mounted () {
    // eslint-disable-next-line no-undef
    this.uploadWidget = cloudinary.createUploadWidget(
      {
        cloudName: 'gianluca-macaluso',
        uploadPreset: 'social-books-creator',
        multiple: false,
        maxFiles: 1,
        cropping: true,
        croppingAspectRatio: 1,
        croppingCoordinateMode: 'face',
        clientAllowedFormats: ['png', 'gif', 'jpg'],
        sources: ['local', 'url', 'camera', 'image_search']
      },
      (error, result) => {
        if (!error && result && result.event === 'success') {
          this.isSaving = true

          if (result.info.coordinates) {
            result.info.coordinates = result.info.coordinates.custom[0]
          }

          this.$store.dispatch('modules/user/setUserAvatar', result.info)
          // try {
          //   this.$store
          //     .dispatch('app/user/setUserAvatar', result.info)
          //     .then(() => {
          //       this.isSaving = false
          //       this.$toast.global.sbc_success({ message: 'Data saved...' })
          //     })
          //     .catch((error) => {
          //       this.isSaving = false
          //       this.$toast.global.sbc_error(error.message)
          //     })
          // } catch (error) {
          //   this.isSaving = false
          //   this.$toast.global.sbc_error('Error in data format. No nested arrays')
          // }
        } else if (error) {
          this.isSaving = false
          // this.$toast.global.sbc_error(error.message)
        } else {
          // console.log(result.event)
        }
      }
    )
  },
  methods: {
    openCloudinaryWidget () {
      this.uploadWidget.open()
    },
    unsetAvatar () {
      this.$store.dispatch('modules/user/unSetUserAvatar')
    }
  }
}
</script>
