<template>
  <v-card class="mx-auto pa-4">
    <v-form v-model="valid" :lazy-validation="lazy" max-width="600">
      <v-text-field
        v-model="oldPwd"
        name="oldPwd"
        :label="$t('components.changePassword.typeOldPwd')"
        required
        type="password"
      />

      <v-text-field
        v-model="newPwd1"
        name="newPwd1"
        :label="$t('components.changePassword.typeNewPwd')"
        :rules="pswdRules"
        required
        type="password"
      />

      <v-text-field
        v-model="newPwd2"
        name="newPwd2"
        :label="$t('components.changePassword.typeNewPwd2')"
        :rules="pswd2Rules"
        required
        type="password"
      />

      <v-card-actions class="py-5">
        <v-btn color="primary" @click="checkOldPwd">
          {{ $t('shared.change') }}
        </v-btn>
        <v-btn small text @click="closeDialog">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-form>
    <v-overlay :value="isUpdating">
      <v-progress-circular indeterminate size="64" />
    </v-overlay>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      newPwd2: '',
      newPwd1: '',
      oldPwd: '',
      valid: true,
      lazy: false,
      isUpdating: false
    }
  },

  computed: {
    pswdRules () {
      return [
        v => !!v || this.$t('auth.pwdReq'),
        v => v.length >= 6 || this.$t('auth.pwd6char')
      ]
    },
    pswd2Rules () {
      return [
        v => !!v || this.$t('auth.pwdReq'),
        v => v.length >= 6 || this.$t('auth.pwd6char'),
        v => v === this.newPwd1 || this.$t('auth.pwdMatch')
      ]
    }
  },

  methods: {

    async checkOldPwd () {
      this.isUpdating = true
      try {
        await this.$store.dispatch('modules/user/verifyOldPassword', {
          oldPassword: this.oldPwd
        })
        this.changePwd()
      } catch (error) {
        this.isUpdating = false
        this.$toast.global.sbc_error(error)
      }
    },
    async changePwd () {
      try {
        await this.$store.dispatch('modules/user/changePassword', {
          newPassword: this.newPwd1
        })
        this.isUpdating = false
        this.$toast.global.sbc_success({ message: this.$t('auth.pwdUpdated') })
        this.closeDialog()
      } catch (error) {
        this.isUpdating = false
        this.$toast.global.sbc_error(error)
      }
    },
    closeDialog () {
      this.$emit('childToParent', false)
    }
  }
}
</script>
