<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <change-password-form :parent-data="open" @childToParent="closeModal" />
  </v-dialog>
</template>

<script>
import ChangePasswordForm from '@/components/profile/user-info-tab/ChangePasswordForm'
export default {
  components: {
    ChangePasswordForm
  },
  props: {
    open: Boolean
  },

  methods: {
    closeModal () {
      this.$emit('onModalClose')
    }
  }
}
</script>
