<template>
  <v-dialog v-model="open" scrollable persistent max-width="600">
    <v-card>
      <v-card-text class="pt-4">
        {{ $t('components.downloadPersonalData.info') }}
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-btn color="primary" @click="downloadPersonalData">
          {{ $t('components.downloadPersonalData.json') }}
        </v-btn>
        <v-btn absolute right small text @click="closeModal">
          {{ $t('shared.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  props: {
    open: Boolean
  },
  computed: {
    ...mapGetters('modules/user', [
      'userMeta'
    ])
  },
  methods: {
    closeModal () {
      this.$emit('onModalClose')
    },
    downloadPersonalData () {
      // console.log(JSON.stringify(this.userMeta))
      // quando ci sarà la scelta fra vari tipi di file si farà qua
      this.forceFileDownload(JSON.stringify(this.userMeta))
    },

    forceFileDownload (userMeta) {
      const url = window.URL.createObjectURL(new Blob([userMeta]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', 'your-personal-data.json')
      document.body.appendChild(link)
      link.click()
    }
  }
}
</script>
