<template>
  <div>
    <v-card class="mb-6 mt-6">
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>{{ $t('components.invitationsWidget.invitations') }}</v-toolbar-title>
      </v-toolbar>

      <v-card-text>
        <v-list-item v-for="inv in pendingInvitations" :key="inv.id">
          <v-list-item-content>
            <v-list-item-title class="d-flex justify-space-between align-center">
              <div>
                {{ inv.data.name }}
              </div>

              <div>
                <v-btn color="primary" @click="handleInvitation(inv,true)">
                  {{ $t('shared.accept') }}
                  <v-icon right v-text="'mdi-check'" />
                </v-btn>

                <v-btn color="error" @click="handleInvitation(inv,false)">
                  {{ $t('shared.deny') }}
                  <v-icon right v-text="'mdi-cancel'" />
                </v-btn>
              </div>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      isSaving: false,
      canEdit: false,
      group: null
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'user'
    ]),
    ...mapGetters('modules/groups', [
      'pendingInvitations'
    ])
  },
  mounted () {
    this.$store.dispatch('modules/groups/getPendingInvitations', this.user.uid)
  },
  methods: {
    handleInvitation (inv, accepted) {
      const uid = this.user.uid
      const invId = inv.id
      const invName = inv.data.name
      this.$store
        .dispatch('modules/groups/updateUserInvitation', {
          uid,
          invId,
          accepted
        })

      if (accepted) {
        this.$store
          .dispatch('modules/groups/setBooksClones', {
            uid,
            groupId: invId
          })
        this.$store.dispatch('modules/user/sendInAppNotification', {
          user: inv.data.owner,
          type: 'userAcceptInvitation',
          url: '/profile/group/' + inv.id,
          text: this.user.email
        })
        this.$toast.global.sbc_success({ message: this.$t('group.inviteAccepted', { group: invName }) })
      }
    }
  }

}
</script>
