<template>
  <v-card class="user-widget elevation-1 mb-6" :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>School/Organization</v-toolbar-title>
      <v-spacer />
      <v-btn icon @click="toggleFormEditing">
        <v-icon v-if="!canEdit" v-text="'mdi-pencil'" />
        <v-icon v-if="canEdit" v-text="'mdi-pencil-off'" />
      </v-btn>
    </v-toolbar>

    <v-card-text v-if="user && userMeta">
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="organization"
          :disabled="!canEdit"
          :label="$t('shared.formLabels.organization')"
          name="organization"
          type="text"
        />

        <v-card-actions>
          <div class="flex-grow-1" />
          <v-btn
            :disabled="!valid || !canEdit"
            :loading="isSavingOrganization"
            color="primary"
            @click.prevent="updateUserMeta"
          >
            {{ $t('shared.save') }}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  data () {
    return {
      valid: true,
      lazy: false,
      canEdit: false
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'user',
      'userMeta',
      'isSavingOrganization'
    ]),
    ...mapFields({
      organization: 'modules.user.userMeta.organization'
    })
  },
  methods: {
    toggleFormEditing () {
      this.canEdit = !this.canEdit
    },
    updateUserMeta () {
      this.$store.commit('modules/user/SET_IS_SAVING_ORGANIZATION', true)
      this.$store.dispatch('modules/user/updateUserMetaOrganization')
    }
  }
}
</script>
