<template>
  <v-card :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }" class="elevation-1 mb-6">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.personalDataForm.heading') }}</v-toolbar-title>

      <v-spacer />

      <v-btn icon @click="toggleFormEditing">
        <v-icon v-if="!canEdit" v-text="'mdi-pencil'" />
        <v-icon v-if="canEdit" v-text="'mdi-pencil-off'" />
      </v-btn>
    </v-toolbar>

    <v-card-text v-if="user && userMeta">
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="firstName"
          :rules="firstNameRules"
          :disabled="!canEdit"
          :label="$t('shared.formLabels.name')"
          name="firstName"
          type="text"
          required
        />

        <v-text-field
          v-model="surname"
          :rules="surnameRules"
          :disabled="!canEdit"
          :label="$t('shared.formLabels.surname')"
          name="surname"
          type="text"
          required
        />

        <v-container class="pa-0">
          <v-row no-gutters>
            <v-col cols="8">
              <v-text-field
                v-model="email"
                :rules="emailRules"
                :disabled="true"
                :label="$t('shared.formLabels.email')"
                name="email"
                type="email"
                required
              />
            </v-col>

            <v-col cols="3" offset="1">
              <v-btn :disabled="true" color="primary" outlined block class="mt-3">
                <v-icon v-text="'mdi-email'" />
              </v-btn>
            </v-col>
          </v-row>
        </v-container>

        <v-text-field
          v-model="address"
          :disabled="!canEdit"
          :label="$t('shared.formLabels.address')"
          name="address"
          type="text"
        />

        <v-textarea
          v-model="bio"
          :rules="bioRules"
          :disabled="!canEdit"
          :label="$t('shared.formLabels.bio')"
          name="bio"
          counter
          clearable
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1" />
      <v-btn
        :disabled="!valid || !canEdit"
        :loading="isSavingPersonalData"
        color="primary"
        @click.prevent="updateUserMeta"
      >
        {{ $t('shared.save') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  data () {
    return {
      valid: true,
      lazy: false,
      canEdit: false
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'user',
      'userMeta',
      'isSavingPersonalData'
    ]),
    ...mapFields({
      firstName: 'modules.user.userMeta.firstName',
      surname: 'modules.user.userMeta.surname',
      email: 'modules.user.user.email',
      address: 'modules.user.userMeta.address',
      bio: 'modules.user.userMeta.bio'
    }),
    emailRules () {
      return [
        v => !!v || this.$t('auth.emailReq'),
        v => v.length >= 6 || this.$t('auth.emailInvalid')
      ]
    },
    firstNameRules () {
      return [
        v => !!v || this.$t('components.profileDataForm.nameReq')
      ]
    },
    surnameRules () {
      return [
        v => !!v || this.$t('components.profileDataForm.surnameReq')
      ]
    },
    bioRules () {
      return [
        v => !!v || this.$t('components.profileDataForm.bioRules')
      ]
    }
  },
  methods: {
    toggleFormEditing () {
      this.canEdit = !this.canEdit
    },
    updateUserMeta () {
      this.$store.commit('modules/user/SET_IS_SAVING_PERSONAL_DATA', true)
      this.$store.dispatch('modules/user/updateUserMeta')
      // this.isSaving = true

      // this.$store
      //   .dispatch('app/user/updateUserMeta')
      //   .then(() => {
      //     this.isSaving = false
      //     this.$toast.global.sbc_success({ message: 'Data saved...' })
      //   })
      //   .catch((error) => {
      //     this.isSaving = false
      //     this.$toast.global.sbc_error(error)
      //   })
    }
  }
}
</script>
