<template>
  <v-card class="user-widget elevation-1 mb-6" :class="{ 'ml-3': $vuetify.breakpoint.mdAndUp }">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.preferencesWidget.title') }}</v-toolbar-title>
    </v-toolbar>

    <v-card-text v-if="userMeta">
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-select
          v-model="lang"
          :items="availableLocales"
          :label="$t('components.preferencesWidget.defaultLang')"
          @change="changeUserLanguage"
        />

        <v-switch
          v-model="hints"
          disabled
          :label="$t('components.preferencesWidget.hints')"
          @change="updateUserMeta"
        />

        <v-select
          v-model="mailFreq"
          disabled
          :items="mailFrequency"
          :label="$t('components.preferencesWidget.mailFreq')"
          @change="updateUserMeta"
        />

        <v-switch
          v-model="mailFromUs"
          disabled
          :label="$t('components.preferencesWidget.mailFromUs')"
          @change="updateUserMeta"
        />
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  data () {
    return {
      valid: true,
      lazy: false
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'isSavingPersonalData',
      'mailFrequency'
    ]),
    ...mapGetters('modules/app', [
      'currentLocaleIndex'
    ]),
    ...mapFields({
      userMeta: 'modules.user.userMeta',
      lang: 'modules.user.userMeta.userLang.locale',
      hints: 'modules.user.userMeta.userSettings.hints',
      mailFreq: 'modules.user.userMeta.userSettings.mailFrequency',
      mailFromUs: 'modules.user.userMeta.userSettings.mailFromUs'
    }),
    availableLocales () {
      return this.$i18n.locales()
    }
  },
  methods: {
    changeUserLanguage (newLocale) {
      const locales = this.$i18n.locales()
      const langIndex = locales.indexOf(newLocale)

      try {
        this.$store.dispatch('modules/user/setUserDefaultLang', {
          index: langIndex,
          locale: newLocale
        })
        this.$i18n.set(newLocale)
        this.$store.commit('modules/app/SET_CURRENT_LOCALE_INDEX', langIndex)
        this.$toast.global.sbc_success({ message: 'Language updated!' })
      } catch (error) {
        this.$toast.global.sbc_error(error)
      }
    },
    updateUserMeta () {
      this.$store.commit('modules/user/SET_IS_SAVING_PERSONAL_DATA', true)
      this.$store.dispatch('modules/user/updateUserMeta')
    }
  }
}
</script>
