<template>
  <v-card class="user-widget elevation-1 mb-6" :class="{ 'ml-3': $vuetify.breakpoint.mdAndUp }">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.privacyWidget.title') }}</v-toolbar-title>
    </v-toolbar>

    <v-card-text>
      <v-btn block outlined class="mb-4" color="primary" @click="openChangePasswordModal">
        {{ $t('components.privacyWidget.changePwd') }}
      </v-btn>
      <v-btn block outlined color="primary" @click="downloadPersonalDataModalOpen = true">
        {{ $t('components.privacyWidget.dwnldPersonalData') }}
      </v-btn>
    </v-card-text>

    <change-password-modal :open="changePasswordModalOpen" @onModalClose="closeChangePasswordModal" />
    <download-personal-data-modal :open="downloadPersonalDataModalOpen" @onModalClose="closeDownloadPersonalDataModal" />
  </v-card>
</template>

<script>
import ChangePasswordModal from '@/components/profile/user-info-tab/ChangePasswordModal'
import DownloadPersonalDataModal from '@/components/profile/user-info-tab/DownloadPersonalDataModal'

export default {
  components: {
    ChangePasswordModal,
    DownloadPersonalDataModal
  },
  data () {
    return {
      changePasswordModalOpen: false,
      downloadPersonalDataModalOpen: false
    }
  },
  methods: {
    openChangePasswordModal () {
      this.changePasswordModalOpen = true
    },
    closeChangePasswordModal () {
      this.changePasswordModalOpen = false
    },
    closeDownloadPersonalDataModal () {
      this.downloadPersonalDataModalOpen = false
    }
  }
}
</script>
