<template>
  <v-card class="elevation-12">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.confirmPasswordResetForm.heading') }}</v-toolbar-title>
      <div class="flex-grow-1" />
    </v-toolbar>

    <v-card-text>
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="email"
          :label="$t('shared.formLabels.email')"
          name="email"
          :rules="emailRules"
          prepend-icon="mdi-at"
          type="text"
          required
          disabled
          readonly
          :loading="isVerifying"
        />

        <v-text-field
          id="password"
          v-model="newPswd"
          :label="$t('shared.formLabels.newPassword')"
          name="newPassword"
          :rules="pswdRules"
          prepend-icon="mdi-lock-question"
          type="password"
          required
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1" />
      <v-btn block :disabled="!valid" :loading="isConfirming" color="primary" @click.prevent="confirmPasswordReset">
        {{ $t('components.confirmPasswordResetForm.confirmPswd') }}
      </v-btn>
    </v-card-actions>

    <v-card-text v-if="newPasswordSet">
      {{ $t('components.confirmPasswordResetForm.nowCanLogin') }}

      <nuxt-link to="/auth/login">
        {{ $t('shared.login') }}
      </nuxt-link>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      newPswd: '',
      isConfirming: false,
      isVerifying: true,
      newPasswordSet: false,
      valid: true,
      lazy: false
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || this.$t('auth.emailReq'),
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('auth.emailInvalid')
      ]
    },
    pswdRules () {
      return [
        v => !!v || this.$t('auth.pwdReq'),
        v => v.length >= 6 || this.$t('auth.pwd6char')
      ]
    }
  },
  mounted () {
    this.verifyPasswordResetCode()
  },
  methods: {
    async verifyPasswordResetCode () {
      try {
        this.email = await this.$store.dispatch('modules/user/verifyPasswordResetCode', this.$route.query.oobCode)
        this.isVerifying = false
      } catch (error) {
        this.isVerifying = false
        this.$toast.global.sbc_error(error)
      }
    },

    async confirmPasswordReset () {
      this.isConfirming = true

      try {
        await this.$store.dispatch('modules/user/confirmPasswordReset', {
          actionCode: this.$route.query.oobCode,
          newPassword: this.newPswd
        })

        this.isConfirming = false
        this.newPasswordSet = true

        this.$toast.global.sbc_success({ message: this.$t('auth.newPwdSet') })
      } catch (error) {
        this.isConfirming = false
        this.$toast.global.sbc_error(error)
      }
    }
  }
}
</script>
