<template>
  <v-card class="elevation-12">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.loginForm.heading') }}</v-toolbar-title>
    </v-toolbar>

    <v-card-text>
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="email"
          :rules="emailRules"
          :label="$t('shared.formLabels.email')"
          name="login"
          prepend-icon="mdi-at"
          type="text"
          required
        />

        <v-text-field
          id="password"
          v-model="pswd"
          :rules="pswdRules"
          :label="$t('shared.formLabels.password')"
          name="password"
          prepend-icon="mdi-lock-question"
          type="password"
          required
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-btn :disabled="!valid" :loading="isLogging" block color="primary" @click.prevent="submitLoginForm">
        {{ $t('shared.login') }}
      </v-btn>
    </v-card-actions>

    <v-card-text>
      {{ $t('components.loginForm.noAccount') }}

      <nuxt-link to="/auth/register">
        {{ $t('shared.register') }}
      </nuxt-link>

      <v-divider class="my-3" />

      {{ $t('shared.forgotPswd') }}

      <nuxt-link to="/auth/reset-password">
        {{ $t('shared.resetPswd') }}
      </nuxt-link>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
// import firebaseApp, { googleProvider } from '~/firebase/app'
import firebaseApp from '~/firebase/app'

export default {
  data () {
    return {
      email: '',
      pswd: '',
      isLogging: false,
      valid: true,
      lazy: false
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || this.$t('auth.emailReq'),
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('auth.emailInvalid')
      ]
    },
    pswdRules () {
      return [
        v => !!v || this.$t('auth.pwdReq'),
        v => v.length >= 6 || this.$t('auth.pwd6char')
      ]
    }
  },
  methods: {
    ...mapActions('modules/user', ['login']),
    submitLoginForm () {
      this.isLogging = true

      firebaseApp.auth().signInWithEmailAndPassword(this.email, this.pswd).then((firebaseUser) => {
        return this.login(firebaseUser.user)
      }).then(() => {
        this.isLogging = false
        this.$router.push('/app/book-shelf')
      }).catch((error) => {
        this.isLogging = false
        this.$toast.global.sbc_error(error)
      })
    }
    // async fbGoogleLogin () {
    //   const { user } = await firebaseApp.auth().signInWithPopup(googleProvider)
    //   await this.login(user)
    //   this.$router.push('/protected')
    // },
    // async fbGoogleLogout () {
    //   await this.logout()
    //   this.$router.push('/')
    // }
  }
}
</script>
