<template>
  <v-card class="elevation-12">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.registerForm.heading') }}</v-toolbar-title>
      <div class="flex-grow-1" />
    </v-toolbar>

    <v-card-text>
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="email"
          :label="$t('shared.formLabels.email')"
          name="email"
          :rules="emailRules"
          prepend-icon="mdi-at"
          type="text"
          required
        />

        <v-text-field
          id="password"
          v-model="pswd"
          :label="$t('shared.formLabels.password')"
          name="password"
          :rules="pswdRules"
          prepend-icon="mdi-lock-question"
          type="password"
          required
        />

        <v-text-field
          id="passwordRepeat"
          v-model="pswdRepeat"
          :label="$t('shared.formLabels.passwordRepeat')"
          name="passwordRepeat"
          :rules="pswdRepeatRules"
          prepend-icon="mdi-lock-question"
          type="password"
          required
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1" />
      <v-btn block :disabled="!valid" :loading="isRegistering" color="primary" @click.prevent="submitRegisterForm">
        {{ $t('shared.register') }}
      </v-btn>
    </v-card-actions>

    <v-card-text>
      {{ $t('components.registerForm.alreadyAccount') }}

      <nuxt-link to="/auth/login">
        {{ $t('shared.login') }}
      </nuxt-link>

      <v-divider class="my-3" />

      {{ $t('shared.forgotPswd') }}

      <nuxt-link to="/auth/reset-password">
        {{ $t('shared.resetPswd') }}
      </nuxt-link>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
import firebaseApp from '~/firebase/app'

export default {
  data () {
    return {
      email: '',
      pswd: '',
      pswdRepeat: '',
      isRegistering: false,
      valid: true,
      lazy: false
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || this.$t('auth.emailReq'),
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('auth.emailInvalid')
      ]
    },
    pswdRules () {
      return [
        v => !!v || this.$t('auth.pwdReq'),
        v => v.length >= 6 || this.$t('auth.pwd6char')
      ]
    },
    pswdRepeatRules () {
      return [
        v => !!v || this.$t('auth.repeatPwdReq'),
        v => this.pswd === this.pswdRepeat || this.$t('auth.pwdMatch')
      ]
    }
  },
  methods: {
    ...mapActions('modules/user', ['login']),
    async submitRegisterForm () {
      this.isRegistering = true

      try {
        const firebaseUser = await firebaseApp.auth().createUserWithEmailAndPassword(this.email, this.pswd)
        await this.writeUserData(firebaseUser.user.uid, firebaseUser.user.email)
        // await firebaseApp.auth().currentUser.sendEmailVerification()
        await this.login(firebaseUser.user)
        await firebaseApp.auth().currentUser.sendEmailVerification()
        this.$router.push('/profile/dashboard')
      } catch (error) {
        this.$toast.global.sbc_error({ message: error.message })
        this.isRegistering = false
      }
    },
    writeUserData (userId, email) {
      return firebaseApp.firestore().collection('users').doc(userId).set({
        address: null,
        avatar: null,
        bio: null,
        email,
        firstName: null,
        gradient: null,
        surname: null
      })
    }

    // register () {
    //   this.isRegistering = true

    //   this.$store.dispatch('auth/register', {
    //     email: this.email,
    //     pswd: this.pswd
    //   }).then((userData) => {
    //     this.$store.commit('auth/setUser', userData.user)

    //     this.$store.dispatch('auth/sendVerificationEmail', this.email).then(() => {
    //       this.isRegistering = false

    //       this.$toast.global.sbc_success({ message: 'Verification email has been sent. Please check your inbox to verify your account...' })
    //     }).catch((error) => {
    //       this.isRegistering = false

    //       this.$toast.global.sbc_error(error)
    //     })

    //     this.$router.push('/app/book-shelf')
    //     this.$toast.global.sbc_success({ message: 'Your account has been created. You\'re good to go...' })
    //   }).catch((error) => {
    //     this.isRegistering = false

    //     this.$toast.global.sbc_error(error)
    //   })
    // }
  }
}
</script>
