<template>
  <v-card class="elevation-12">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>{{ $t('components.resetPasswordForm.heading') }}</v-toolbar-title>
      <div class="flex-grow-1" />
    </v-toolbar>

    <v-card-text>
      <v-form v-model="valid" :lazy-validation="lazy">
        <v-text-field
          v-model="email"
          :label="$t('shared.formLabels.email')"
          name="email"
          :rules="emailRules"
          prepend-icon="mdi-at"
          type="text"
          required
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1" />
      <v-btn block :disabled="!valid" :loading="isSending" color="primary" @click.prevent="resetPassword">
        {{ $t('shared.resetPswd') }}
      </v-btn>
    </v-card-actions>

    <v-card-text>
      {{ $t('components.resetPasswordForm.pswdRemembered') }}

      <nuxt-link to="/auth/login">
        {{ $t('shared.login') }}
      </nuxt-link>

      <v-divider class="my-3" />

      {{ $t('components.loginForm.noAccount') }}

      <nuxt-link to="/auth/register">
        {{ $t('shared.register') }}
      </nuxt-link>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      isSending: false,
      valid: true,
      lazy: false
      // emailRules: [
      //   v => !!v || 'Email is required',
      //   v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Invalid email address'
      // ]
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || this.$t('auth.emailReq'),
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('auth.emailInvalid')
      ]
    }
  },
  methods: {
    async resetPassword () {
      this.isSending = true

      try {
        await this.$store.dispatch('modules/user/resetPassword', this.email)

        this.isSending = false
        this.$toast.global.sbc_success({ message: this.$t('auth.resetPwdEmailSent') })
      } catch (error) {
        this.isSending = false
        this.$toast.global.sbc_error(error)
      }
    }
  }
}
</script>
