<template>
  <v-menu>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-avatar>
          <v-icon v-text="'mdi-account'" />
        </v-avatar>
      </v-btn>
    </template>

    <v-list class="pa-0">
      <template v-if="!user">
        <v-card :style="bgGradientStyle" max-width="250" class="mx-auto">
          <v-img
            :src="require('../../assets/images/generic-user-avatar-transparent.svg')"
            height="300px"
            class="align-end justify-center"
          >
            <v-card-title class="white--text">
              {{ $t('components.userNavWidget.howdy') }}
            </v-card-title>
          </v-img>

          <v-card-subtitle class="white">
            {{ $t('components.userNavWidget.awesomeExperience') }}
          </v-card-subtitle>

          <v-card-text class="white">
            {{ $t('components.userNavWidget.toGetStarted') }}
          </v-card-text>

          <v-card-actions class="white">
            <v-btn text color="primary" to="/auth/login" nuxt>
              {{ $t('shared.login') }}
            </v-btn>

            &nbsp;&nbsp;{{ $t('shared.or') }}

            <v-btn text color="primary" to="/auth/register" nuxt>
              {{ $t('shared.register') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>

      <template v-if="user">
        <v-card v-if="userMeta" :style="{ background: userMeta.gradient }" max-width="300" class="mx-auto">
          <v-list style="border-radius: 0;" two-line class="user-nav-widget-list">
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary" v-text="'mdi-human-greeting'" />
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ $t('shared.welcome') }} {{ userMeta.firstName }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t('components.userNavWidget.accessProfile') }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-list style="border-radius: 0;" class="user-nav-widget-list">
            <v-divider />

            <v-list-item :to="'/profile/user-info'" nuxt>
              <v-list-item-icon>
                <v-icon color="primary" v-text="'mdi-account-circle'" />
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ $t('components.userNavWidget.profile') }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item disabled>
              <v-list-item-icon>
                <v-icon color="primary" v-text="'mdi-settings'" />
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ $t('components.userNavWidget.editorSettings') }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-card-actions class="white">
            <v-btn block color="primary" @click="signOut">
              {{ $t('shared.logout') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
      bgGradientStyle: {
        backgroundColor: '#42AB3D',
        background: 'linear-gradient(to right, #8bc0dd, #42AB3D)'
      }
    }
  },
  computed: {
    ...mapGetters('modules/user', [
      'uid',
      'user',
      'userMeta'
    ])
  },
  methods: {
    ...mapActions('modules/user', ['logout']),
    async signOut () {
      await this.logout()
      this.$router.push('/')
    }
  }
}
</script>
